<html dir="ltr" lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="css/images/favicon.png" type="image/x-icon" />
    <title>HHA - SSHR</title>
    <script type="text/javascript" src="js/libs/require/require.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="jquery-1.9.0.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/libs/jquery/jquery.calendars.js"></script>
    <script type="text/javascript" src="js/libs/jquery/jquery.calendars.plus.js"></script>
    <script type="text/javascript" src="js/libs/jquery/jquery.calendars.ummalqura.js"></script>
    <script type="text/javascript" src="js/libs/jquery/jquery.plugin.js"></script>
    <script src="helper.js" type="text/javascript"></script>
    <!-- chatbot component-->


    <link rel="stylesheet" href="css/libs/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/libs/oj/v5.0.0/alta/oj-alta-min.css" type="text/css" />
    <link rel="stylesheet" href="css/jquery.calendars.picker.css" type="text/css" />
    <link rel="stylesheet" href="css/calendar-override.css" type="text/css" />
    <link rel="stylesheet" href="css/demo-alta-site-min.css" type="text/css" />
    <link rel="stylesheet" href="css/navigationbar.css" type="text/css" />
    <link rel="stylesheet" href="css/libs/fa/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />
    <link rel="stylesheet" href="css/app.css" type="text/css" />
    <link rel="stylesheet" href="css/theme.css" type="text/css" />
</head>

<body class="oj-web-applayout-body">

    <script type="text/html" id="navTemplate">
        <li><a href="#">
                <span :class="[[$data['iconClass']]]"></span>
                <oj-bind-text value="[[$data['name']]]"></oj-bind-text></a>
        </li>
    </script>

    <script type="text/html" id="navTemplateIcons">
        <li><a href="#">
                <span data-bind="css: $data['iconClass']"></span>
                <!-- ko text: $data['name'] --> <!--/ko--></a>
        </li>
    </script>

    <div id="globalBody">
        <!-- Messages -->
        <oj-messages messages="{{messages}}" display="general" position="[[position]]"
            on-oj-close="[[closeMessageHandler]]"></oj-messages>

        <div id="dialogWrapper">

            <oj-dialog class="main-dialog main-dialog-width" id="GenericInfoDialog">
                <div slot="body">
                    <label data-bind="text: infMsg"></label>
                </div>
                <div slot="footer">
                    <oj-button class="apBtn-2" onclick="document.getElementById('GenericInfoDialog').close()">
                        <span>
                            <oj-bind-text value="[['Ok']]"></oj-bind-text>
                        </span>
                    </oj-button>
                </div>
            </oj-dialog>

            <oj-dialog class="main-dialog main-dialog-width" id="GenericYesNoDialog">
                <div slot="header" class="oj-helper-clearfix">
                    <label data-bind="text: confirmMessage"></label>
                </div>

                <div slot="body">
                    <label data-bind="text: msg"></label>
                </div>
                <div slot="footer">
                    <oj-button class="apBtn-2" on-oj-action='[[dialogYes]]'>
                        <span>
                            <oj-bind-text value="[[yes]]"></oj-bind-text>
                        </span>
                    </oj-button>

                    <oj-button class="apBtn-2" on-oj-action='[[dialogNo]]'>
                        <span>
                            <oj-bind-text value="[[no]]"></oj-bind-text>
                        </span>
                    </oj-button>
                </div>
            </oj-dialog>

            <oj-dialog style="display:none" id="fileViewer" title="File Viewer" cancel-behavior='none'>
                <div slot="body">
                    <iframe id="fileViewerTemplate" width="100%" height="100%"></iframe>
                </div>
                <div slot="footer">
                    <oj-button id="okButton" on-oj-action="[[closeAttachmentViewer]]">OK
                    </oj-button>
                </div>
            </oj-dialog>

        </div>

        <div id="pageContent">

            <!-- 
           <div id="leftNavSec" class="app_cont_fst_sec fadeInDown">
                <span class="collaps_btn_2" data-bind="click: navCollMax"> &#9776; </span>
                <div class="app_com_logo">
                    <img class="company_logo" src="css/images/Full_logo_2.jpg">
                </div>
                <div data-bind="ojComponent:{component: 'ojNavigationList', navigationLevel: 'application',
                     item: {template: 'navTemplateIcons'}, data: navDataSourceLeft, beforeSelect: beforeSelectItem,
                     selection: router.stateId, edge: 'start'},css:''"role="listbox" aria-multiselectable="false" 
                     style="border:none; margin-top: 20px;" tabindex="0">
                </div>

            </div> -->
            <div class="app_cont_sec_sec fadeInUp">
                <div class="app_header">
                    <header role="banner" class="textwhite">


                        <!-- ko if: isUserLoggedIn() -->
                        <div>
                            <span class="collaps_btn_1 collaps_btn_1_ar"
                                data-bind="click: navCollMini ,visible:isHideLeftMenue"> &#9776;</span>
                            <div class="DDMenuBody container animated fadeInDown">
                                <span class="collaps_btn_2" data-bind="click: navCollMax"><i class="fa fa-times"
                                        aria-hidden="true"></i></span>

                                <h2 class="DDNAVHEADER"> Navigator </h2>
                                <br /> <br />
                                <div class="row DDBodylistoverflow">
                                    <div class="col-md-4 DDMenuBodyList"><span class="DDMnavlisth">Employee</span>
                                        <ul>
                                            <!-- ko foreach: iconsArr -->
                                            <li class="DDMnavlisthli">
                                                <a href="#" id="router" class=" form-router-href-li"
                                                    data-bind="click: function(){ $parent.iconNavigation(router, code) }, visible: visible">

                                                    <span class=" DD-Li-Icon"
                                                        data-bind="css:'oj-icon-xs ' + value, attr: {'aria-label':'Circular icon with color ' + label}">

                                                        <span class=>
                                                            <span
                                                                data-bind="css:'demo-icon-circle-font ' + iconType"></span>
                                                        </span>

                                                    </span>

                                                    <span class="form-router-text-li" data-bind="text: text"> </span>
                                                </a>
                                            </li>
                                            <!-- /ko -->

                                        </ul>



                                    </div>
                                    <div class="col-md-4 DDMenuBodyList"><span class="DDMnavlisth"><span
                                                data-bind="text:SpecialistLbl" /></span>
                                        <ul>
                                            <!-- ko foreach: icons2 -->
                                            <li class="DDMnavlisthli">
                                                <a href="#" id="router" class=" form-router-href-li"
                                                    data-bind="click: function(){ $parent.loading(); $parent.iconNavigation(router, code); }">

                                                    <span class=" DD-Li-Icon"
                                                        data-bind="css:'oj-icon-xs ' + value, attr: {'aria-label':'Circular icon with color ' + label}">

                                                        <span class=>
                                                            <span
                                                                data-bind="css:'demo-icon-circle-font ' + iconType"></span>
                                                        </span>

                                                    </span>

                                                    <span class="form-router-text-li" data-bind="text: text"> </span>
                                                </a>
                                            </li>

                                            <!-- /ko -->
                                        </ul>
                                    </div>
                                    <div class="col-md-4 DDMenuBodyList"><span class="DDMnavlisth">Line-Manger</span>
                                        <ul>
                                            <!-- ko foreach: icons2 -->
                                            <li class="DDMnavlisthli">
                                                <a href="#" id="router" class=" form-router-href-li"
                                                    data-bind="click: function(){ $parent.iconNavigation(router, code) }, visible: visible">

                                                    <span class=" DD-Li-Icon"
                                                        data-bind="css:'oj-icon-xs ' + value, attr: {'aria-label':'Circular icon with color ' + label}">

                                                        <span class=>
                                                            <span
                                                                data-bind="css:'demo-icon-circle-font ' + iconType"></span>
                                                        </span>

                                                    </span>

                                                    <span class="form-router-text-li" data-bind="text: text"> </span>
                                                </a>
                                            </li>
                                            <!-- /ko -->
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="Company_logo_forE">
                            <img class="header_logo_min" src="css/images/logo@2x.png">
                        </div>

                        <oj-menu-button id="menuButton1" class="apProfileIcon apProfileIcon_ar">
                            <oj-avatar class="avatar avatar-pic prfilePicIcon" :src="[[image]]"
                                :aria-label="{{'Avatar of ' + firstName + ' ' + lastName}}" role="img"
                                size="[[avatarSize]]" initials='[[initials]]'>
                            </oj-avatar>
                            <!--                     To handle menu item selection, use an action listener as shown, not a click listener. -->
                            <oj-menu id="myMenu" class="apProfileMenu" slot="menu" style="display:none"
                                on-oj-action="[[menuItemAction]]">
                                <oj-option id="iconFont1" class="apFMenueItem" value="Icon Font"
                                    on-oj-action="[[viewProfile]]">
                                    <span class="apDropDownItem" data-bind="text: viewProfileLbl"></span>
                                    <span class="apDropDownIcon fa fa-user" slot="endIcon"></span>
                                </oj-option>
                                <oj-option>---------------------------------</oj-option>
                                <oj-option data-bind="click:switchl" id="fwkIcon1" value="Framework Icon">
                                    <span class="apDropDownItem" data-bind="text:languageSwitch_lng"></span>
                                    <span class="apDropDownIcon fa fa-language" slot="endIcon"></span>
                                </oj-option>
                                <oj-option>---------------------------------</oj-option>
                                <oj-option class="apLMenueItem" data-bind="click:confirm" id="fwkIcon1"
                                    value="Framework Icon">
                                    <span class="apDropDownItem" data-bind="text:lblSignOut"></span>
                                    <span class="apDropDownIcon fa fa-sign-out" slot="endIcon"></span>
                                </oj-option>
                            </oj-menu>
                        </oj-menu-button>


                        <div role="navigation" class="oj-web-applayout-max-width oj-web-applayout-navbar top-nav-st">
                            <!-- 
                            <oj-navigation-list class="oj-md-condense oj-md-justify-content-flex-end"
                                                data="[[navDataSource]]"
                                                edge="top"
                                                on-oj-before-select='[[beforeSelectItem]]'
                                                item.renderer="[[oj.KnockoutTemplateUtils.getRenderer('navTemplate', true)]]"
                                                item.class="oj-navigationlist-style-new"
                                                selection="{{router.stateId}}">
                            </oj-navigation-list> -->

                            <oj-navigation-list edge="top" data="[[N_navDataSource]]"
                                on-oj-before-select='[[beforeSelectItem]]' item.class="oj-navigationlist-style-new"
                                selection="{{router.stateId}}">

                                <template slot="itemTemplate" data-oj-as="item">
                                    <li class="navTooltip" :id="[[item.data.id]]">
                                        <a href="#">
                                            <span :class="[[item.data.iconClass]]"></span>
                                            <!-- ko if: isNotificationCount() -->
                                            <span id="noti" :class="[[{'disNoti' : item.data.name === 'Notification'}]]"
                                                data-bind="text: notificationsCount"></span>
                                            <!-- /ko -->

                                        </a>
                                        <span class="tooltiptext" data-bind="text:item.data.name"></span>
                                    </li>
                                </template>
                            </oj-navigation-list>



                        </div>

                        <div id="dialogWrapper">

                            <oj-dialog class="main-dialog main-dialog-width" id="signoutDialog">
                                <div slot="header" class="oj-helper-clearfix">
                                    <label data-bind="text: confirmMessage"></label>
                                </div>

                                <div slot="body">
                                    <label data-bind="text: signoLbl"></label>
                                </div>
                                <div slot="footer">
                                    <oj-button class="apBtn-2" on-oj-action='[[signOut]]'>
                                        <span>
                                            <oj-bind-text value="[[yes]]"></oj-bind-text>
                                        </span>
                                    </oj-button>

                                    <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                                        <span>
                                            <oj-bind-text value="[[no]]"></oj-bind-text>
                                        </span>
                                    </oj-button>
                                </div>
                            </oj-dialog>

                            <oj-bind-if test="[[loading() === true]]">
                                <div id="loader-overlay">
                                    <div class="loader-dots">
                                        <div class="loader-dot"></div>
                                        <div class="loader-dot"></div>
                                        <div class="loader-dot"></div>
                                        <div class="loader-dot"></div>
                                        <div class="loader-dot"></div>
                                    </div>
                                </div>
                            </oj-bind-if>
                        </div>
                        <!-- /ko -->
                    </header>
                </div>
                <div class="Mobile_header">
                    <oj-bind-if test="[[backBtnVis]]">
                        <oj-button class="apbackbtn apBtn-2 apBtn-disabled-2 backBtnStyle"
                            on-oj-action='[[BackToHome]]'>
                            <span slot='endIcon' class="apiconClass fa fa-arrow-left"></span>
                        </oj-button>
                    </oj-bind-if>
                    <div class="headerLeftMenu">
                        <oj-button class="HeaderHomeLang" id='button3' on-oj-action="[[switchl]]" display='icons'>
                            <span class="fa fa-language"></span>
                        </oj-button>
                        <oj-menu-button id="menuButton2" class="apProfileIcon_2">

                            <oj-avatar class="avatar avatar-pic prfilePicIcon" role="img" size="[[avatarSize]]"
                                initials='[[initials]]'
                                data-bind="attr:{'aria-label':'Avatar of ' + firstName + ' ' + lastName}">
                            </oj-avatar>
                            <!--                     To handle menu item selection, use an action listener as shown, not a click listener. -->
                            <oj-menu id="myMenu2" class="apProfileMenu" slot="menu" style="display:none"
                                on-oj-action="[[menuItemAction]]">
                                <oj-option id="iconFont1" class="apFMenueItem" value="Icon Font"
                                    on-oj-action="[[viewProfile]]">
                                    <span class="apDropDownItem" data-bind="text: viewProfileLbl"></span>
                                    <span class="apDropDownIcon fa fa-user" slot="endIcon"></span>
                                </oj-option>
                                <!-- <oj-option>---------------------------------</oj-option>
                                        <oj-option data-bind="click:switchl" id="fwkIcon1" value="Framework Icon">
                                            <span class="apDropDownItem" data-bind="text:languageSwitch_lng" ></span>
                                            <span class="apDropDownIcon fa fa-language" slot="endIcon"></span>
                                        </oj-option> -->
                                <oj-option>---------------------------------</oj-option>
                                <oj-option class="apLMenueItem" data-bind="click:confirm" id="fwkIcon1"
                                    value="Framework Icon">
                                    <span class="apDropDownItem" data-bind="text:lblSignOut"></span>
                                    <span class="apDropDownIcon fa fa-sign-out" slot="endIcon"></span>
                                </oj-option>
                            </oj-menu>
                        </oj-menu-button>
                    </div>

                    <div class="Company_logo_for">
                        <img class="header_logo_min" src="css/images/logo@2x.png">
                    </div>
                    <div class="DDMenuBody container animated fadeInUp">
                        <span class="collaps_btn_2" data-bind="click: navCollMax"><i class="fa fa-times"
                                aria-hidden="true"></i></span>

                        <h2 class="DDNAVHEADER"> Navigator </h2>
                        <br /> <br />
                        <div class="row DDBodylistoverflow">
                            <div class="col-md-4 DDMenuBodyList"><span class="DDMnavlisth">Employee</span>
                                <ul>
                                    <!-- ko foreach: iconsArr -->
                                    <li class="DDMnavlisthli">
                                        <a href="#" id="router" class=" form-router-href-li"
                                            data-bind="click: function(){ $parent.iconNavigation(router, code) }, visible: visible">

                                            <span class=" DD-Li-Icon"
                                                data-bind="css:'oj-icon-xs ' + value, attr: {'aria-label':'Circular icon with color ' + label}">

                                                <span class=>
                                                    <span data-bind="css:'demo-icon-circle-font ' + iconType"></span>
                                                </span>

                                            </span>

                                            <span class="form-router-text-li" data-bind="text: text"> </span>
                                        </a>
                                    </li>
                                    <!-- /ko -->

                                </ul>



                            </div>
                            <div class="col-md-4 DDMenuBodyList"><span class="DDMnavlisth"><span
                                        data-bind="text:SpecialistLbl" /></span>
                                <ul>
                                    <!-- ko foreach: icons2 -->
                                    <li class="DDMnavlisthli">
                                        <a href="#" id="router" class=" form-router-href-li"
                                            data-bind="click: function(){ $parent.loading(); $parent.iconNavigation(router, code); }">

                                            <span class=" DD-Li-Icon"
                                                data-bind="css:'oj-icon-xs ' + value, attr: {'aria-label':'Circular icon with color ' + label}">

                                                <span class=>
                                                    <span data-bind="css:'demo-icon-circle-font ' + iconType"></span>
                                                </span>

                                            </span>

                                            <span class="form-router-text-li" data-bind="text: text"> </span>
                                        </a>
                                    </li>

                                    <!-- /ko -->
                                </ul>
                            </div>
                            <div class="col-md-4 DDMenuBodyList"><span class="DDMnavlisth">Line-Manger</span>
                                <ul>
                                    <!-- ko foreach: icons2 -->
                                    <li class="DDMnavlisthli">
                                        <a href="#" id="router" class=" form-router-href-li"
                                            data-bind="click: function(){ $parent.iconNavigation(router, code) }, visible: visible">

                                            <span class=" DD-Li-Icon"
                                                data-bind="css:'oj-icon-xs ' + value, attr: {'aria-label':'Circular icon with color ' + label}">

                                                <span class=>
                                                    <span data-bind="css:'demo-icon-circle-font ' + iconType"></span>
                                                </span>

                                            </span>

                                            <span class="form-router-text-li" data-bind="text: text"> </span>
                                        </a>
                                    </li>
                                    <!-- /ko -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Mobile_footer">

                    <div class="collaps_btn_mob_cont ">
                        <span class="collaps_btn_mob fa fa-user-o" data-bind="click: navCollMini"></span>

                    </div>
                    <div class="footerBtnGroup">
                        <div class="footerHalfSec">
                            <oj-button class="footerHomeBtn" id='button3' on-oj-action="[[viewHome]]" display='icons'>
                                <span class="fa fa-home"></span>
                            </oj-button>
                        </div>
                        <div class="footerHalfSec">
                            <oj-button class="footerHomeBtn" id='button3' on-oj-action="[[mobNavDis]]" display='icons'>
                                <span class="fa fa-bars"></span>
                            </oj-button>
                        </div>
                    </div>
                </div>

                <div class="app_body">
                    <div id="mainContent" role="main" class="oj-flex-item"
                        data-bind="ojModule: router.moduleConfig, css: {'' : !isScreenSMorMD()">
                    </div>
                </div>
            </div>
            <div id="mobileNavBar" class="mobLeftMenu app_cont_fst_sec_col animated fadeInRight fast">
                <div class="navDataCloseContainer">
                    <oj-button class="HeaderNavClose" id='button3' on-oj-action="[[closeHeaderNav]]" display='icons'>
                        <span class="fa fa-times"></span>
                    </oj-button>
                </div>
                <oj-navigation-list id="menu" class="oj-navigationlist-nofollow-link mobLeftMenuStyle"
                    data="[[navDataSource]]" edge="start" on-oj-before-select='[[beforeSelectItem]]'
                    item.renderer="[[oj.KnockoutTemplateUtils.getRenderer('navTemplate', true)]]"
                    item.class="oj-navigationlist-style-new" selection="{{router.stateId}}">
                </oj-navigation-list>
            </div>

            <!-- ko ifnot: isUserLoggedIn() -->
            <oj-bind-if test='[[formVisible]]'>
                <!--<div class=" cont-log-bod" data-bind="visible: HideLogin">-->
                <div class=" cont-log-bod">
                    <div class="log_sec_half">
                        <div class="content_area">
                            <div class="content_header">

                                <img data-bind="css: windowSize() === 'SM' ? '' : ''" src="css/images/logo@2x.png"
                                    alt="AppsPro" class=" logo-2">
                                <span>Welcome back! Please login to your account </span>
                            </div>

                            <div class="content_form">

                                <div class="forinputhover">

                                    <input id="userName" class="apLoginInput" type="text"
                                        data-bind="ojComponent: {component: 'ojInputText', placeholder: Usernametext,
                                        value: userName, invalidComponentTracker: tracker,
                                        required: false, rootAttributes: {style:''},
                                        translations: {'required': { messageDetail: 'Please enter a valid user name'}}}">

                                </div>
                                <div class="forinputhover">
                                    <input id="password" type="password" class="apLoginInput"
                                        data-bind="ojComponent: { component: 'ojInputPassword', 
                                            placeholder: passwordLabel, value: password,
                                            invalidComponentTracker: tracker, required: false,
                                            icons:{start:'fa fa-lock' }, rootAttributes: {style:''},
                                            translations: {'required': { messageDetail: 'Please enter a valid password'}}}">

                                </div>
                                <div data-bind="visible: loginFailureText() !== ''">
                                    <span class="error-message-text text-align-center"
                                        data-bind="text: loginFailureText"></span>
                                </div>
                                <div>
                                    <button type="button"
                                        class="apLoginBtn oj-button-confirm oj-button-primary btnstyle" data-bind="click: onLogin,
                                                ojComponent: {component: 'ojButton',
                                                label: loginLabel, chrome: 'full',
                                                disabled: disOnLogin, icons:{start:'fa fa-lock' }}"></button>
                                </div>
                                <br>
                                <b> <a class="apChngLang oj-margin-horizontal"
                                        data-bind="click: switchl, text: languageSwitch_lng"></a></b>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="log_st_half">
                    <img  data-bind="css: windowSize() === 'SM' ? '' : ''" src="css/images/Full_logo_1.png" alt="AppsPro" class="full_logo" >
                </div> -->
                </div>
            </oj-bind-if>
            <!-- /ko -->
            <footer role="contentinfo">
                <div class="">
                    <div id="dialogWrapper">
                        <oj-dialog class="main-dialog main-dialog-width" id="switch">
                            <div slot="header" class="oj-helper-clearfix">
                                <label data-bind="text: confirmMessage"></label>
                            </div>

                            <div slot="body">
                                <label data-bind="text: changeLbl"></label>
                            </div>
                            <div slot="footer">
                                <oj-button class="apBtn-2" on-oj-action='[[switchLanguage]]'>
                                    <span>
                                        <oj-bind-text value="[[yes]]"></oj-bind-text>
                                    </span>
                                </oj-button>

                                <oj-button class="apBtn-2" on-oj-action='[[switchclose]]'>
                                    <span>
                                        <oj-bind-text value="[[no]]"></oj-bind-text>
                                    </span>
                                </oj-button>

                            </div>
                        </oj-dialog>
                        <oj-bind-if test="[[loading() === true]]">
                            <div id="loader-overlay">
                                <div class="loader-dots">
                                    <div class="loader-dot"></div>
                                    <div class="loader-dot"></div>
                                    <div class="loader-dot"></div>
                                    <div class="loader-dot"></div>
                                    <div class="loader-dot"></div>
                                </div>
                            </div>
                        </oj-bind-if>
                    </div>

                </div>
            </footer>
        </div>
    </div>
</body>

</html>