<h1 class="header_headline_style"><span> <oj-bind-text value="[[absencesTitle]]"></oj-bind-text> </span></h1>
<div class="oj-hybrid-padding">
    <div>
        <oj-label for="start-date"><!-- ko text: startDateLbl --><!-- /ko --></oj-label>
        <oj-input-date id="start-date" value='{{startDateVal}}'></oj-input-date>

        <oj-label for="end-date"><!-- ko text: endDateLbl --><!-- /ko --></oj-label>
        <oj-input-date id="end-date" value='{{endDateVal}}'></oj-input-date>
    </div>

    <div>
        <oj-button class="apBtn-2" on-oj-action='[[searchByDate]]'>
            <span><oj-bind-text value="[[search]]"></oj-bind-text></span>
        </oj-button>
        <oj-button class="apBtn-2" on-oj-action='[[resetDates]]'> 
            <span><oj-bind-text value="[[reset]]"></oj-bind-text></span>
        </oj-button>
    </div>

    <div>
        <oj-table id='table' aria-label='Ab Table'
                  data='[[dataSource]]'
                  class='apTable-1'
                  selection-mode='{"row": "single", "column": "single"}'
                  dnd='{"reorder": {"columns": "enabled"}}'
                  scroll-policy-options='{"fetchSize": 10}'
                  columns='[[columnArray]]'
                  display="grid"
                  on-oj-before-current-row = "[[tableSelectionListener]]">
            <oj-paging-control class='apPaging-1' id="paging" data='[[dataSource]]' page-size='10' slot='bottom'>
            </oj-paging-control>
        </oj-table>
    </div>

</div>
