<oj-messages position="{}" display="general" messages="[[validationMessagesProvider]]"></oj-messages>
<div id="form-container" class="request_body_styling animated fadeInUp">

    <div class="oj-form">
        <div class="oj-flex-bar">
            <div class="oj-flex-bar-start">

                <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                    <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" on-oj-action='[[workglow_Approval]]'>
                    <span><oj-bind-text value="[[aproval]]"></oj-bind-text></span>
                </oj-button>

            </div>

        </div>
    </div>
    <div id="train-container">
        <div>
            <oj-bind-if test='[[actionAvilable]]'>
                <oj-train id="train"  data-bind="visible: trainVisible"
                          selected-step="{{currentStepValue}}" steps="[[stepArray]]"
                          class="oj-train-stretch"
                          on-oj-before-select="[[stopSelectListener]]"
                         />
            </oj-bind-if>
        </div>
        <br/>
        <h3 id="currentStepText" data-bind="text: currentStepValueText()"></h3>
    </div>
    <div class="oj-form-layout" >
        <oj-validation-group id="tracker" valid="{{groupValid}}">
            <div id="form-container" class="oj-form-layout">
                <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations"> 

                    <div class="oj-form" id="xx">

                    </div>
                    <oj-bind-if test="[[showAttachment() === true]]">
                    <!--<div>-->
                           <div class="oj-flex-item">
                               <label data-bind="text: resumeAttachmentLbl"/>
                           </div>
                          <div class="form_field_dy_style attachedFileRow">

                            <div class="form-group row formFieldRow">
                             
                                <oj-file-picker class="oj-filepicker-custom col-sm-4 col-form-label" required  
                                                select-on="click"
                                                selection-mode="single" 
                                                on-oj-select='[[attachmentSelectListener]]'>
                                    <oj-button slot='trigger' chroming='half' data-bind="visible: viewAttachmentBtnVisible" >
                                        <span slot='startIcon' class='oj-fwk-icon oj-fwk-icon-arrowbox-n'><oj-bind-text value="[[UploadFileLbl]]"></span>
                                    </oj-button>
                                </oj-file-picker>
                                <div class="col-sm-8">
                                 <oj-list-view id="listview" aria-label="list using observable array" 
                                               data="[[dataProviderAttachment]]" selection-mode="single" selection="{{selectedItemsAttachment}}">
                                     <template slot="itemTemplate">
                                         <span>
                                             <oj-bind-text value='[[$current.data.name]]'></oj-bind-text>
                                         </span>
                                     </template>
                                 </oj-list-view>
                                 <div class="oj-flex-item attBtnRow" text-align="center">
                                 <oj-button   data-bind="visible: viewAttachmentBtnVisible"  class="apBtn-2" on-oj-action='[[removeSelectedAttachment]]'>
                                  <span><oj-bind-text value="[[removeBtnLbl]]"></oj-bind-text></span>
                              </oj-button>
                              <oj-button class="apBtn-2" on-oj-action='[[openAttachmentViewer]]' >
                                  <span><oj-bind-text value="[[viewLbl]]"></oj-bind-text></span>
                              </oj-button>
                              </div>
                             </div>
                            </div>
                          </div>
<!--                           <div class="oj-flex-item">
                               <label data-bind="text: fileUploadStatusLbl"/>
                           </div>-->
                                <!--end attached section resume Attachment-->
                           <!--add attachemnt-->    
                    </oj-bind-if>
                <!--</div>-->
               
                 </div>
            </div>
    </div>
</oj-validation-group>
        <div id="attachedfile">
                    </div> 

                    <div class="oj-flex-bar-end">
                        <oj-bind-if test="[[nextBtnShow() === true]]">
                            <!--<oj-button disabled="{{currentStepValue() === 'stp2'}}" data-bind="visible: nextBtnVisible" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[nextStep]]'>-->
                            <oj-button disabled="{{nextStepDisabled}}" data-bind="visible: nextBtnVisible" class="apBtn-2 apBtn-disabled-2 next-step-btn" on-oj-action='[[nextStep]]'>
                                <span><oj-bind-text value="[[nextLbl]]"></oj-bind-text></span>
                            </oj-button>
                               </oj-bind-if>
                        <oj-bind-if test="[[submitdraft() === false]]">
                            <oj-bind-if test='[[actionAvilable]]'>
                    
                                <oj-button data-bind="visible: addBtnVisible" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[submitButton]]'>
                                    <span><oj-bind-text value="[[submitLbl]]"></oj-bind-text></span>
                                </oj-button>
                    
                            </oj-bind-if>
                        </oj-bind-if>
                    
                    
                        <oj-bind-if test='[[actionAvilable]]'>
                            <oj-button data-bind="visible: saveDraftBtnVisible" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[submitButton2]]'>
                                <span><oj-bind-text value="[[savedraft]]"></oj-bind-text></span>
                            </oj-button>
                        </oj-bind-if>
                    
                        <oj-bind-if test="[[submitdraft() === true]]">
                            <oj-button data-bind="visible: addBtnVisible" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[submitButton3]]'>
                                <span><oj-bind-text value="[[submitdraftLbl]]"></oj-bind-text></span>
                            </oj-button>
                        </oj-bind-if>
                    
                    
                    </div>
</div>

<div id="componentDemoContent">
    <div id="dialogWrapper">
        <oj-dialog class="oj-dialog-content oj-dialog-default-content main-dialog effective-dialog" id="modalDialog1">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text:aproval" />
            </div>
            <div slot="body" >

                <!-- ko foreach: datacrad -->
                <div class="approval-card-body app-crd-bdy-received app-crd-bdy-border-ar app-crd-bdy-border-suc">
                    <div class="approval-card-header">
                        <h5 class="app-card-Pname"><span data-bind="text: approvalType"></span>   </h5>
                        <p class="app-crd-type  badge badge-secondary" data-bind="css: status"><span data-bind="text: FYA"></span></p>
                    </div>
                    <div class=" row approval-card-inf-body">
                        <div class="col-md-6"> <span class="badge badge-pill app-card-badge" ><span data-bind="text: roleType"></span></span> </div>

                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
                <!-- /ko -->  
                                <!-- ko if: datacrad().length < 1-->
                  <label data-bind="text:noApprovalLabel" />
                <!-- /ko --> 
            </div>
            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[closeDialog]]'>
                    <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>

</div>


<div id="dialogWrapper">
    <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text: confirmMessage"/>
        </div>
        <div slot="body">
            <label data-bind="text: oprationMessage"/>
        </div>
        <div slot="footer">
            <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[commitRecord]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>

            <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[cancelButton]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>
</div>

<div id="dialogWrapper">
    <oj-dialog class="main-dialog main-dialog-width"
               id="yesNoDialog2">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text: confirmMessage"/>
        </div>
        <div slot="body">
           <label data-bind="text: draftOprationMessage"/>
        </div>
        <div slot="footer">
            <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[commitRecord2]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>

            <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[cancelButton2]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>
</div>

<div id="dialogWrapper">
    <oj-dialog class="main-dialog main-dialog-width"
               id="yesNoDialog3">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text: confirmMessage"/>
        </div>
        <div slot="body">
            <label data-bind="text: oprationMessage"/>
        </div>
        <div slot="footer">
            <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[commitRecord3]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>

            <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[cancelButton3]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>
    
<div id="dialogWrapper">
   <oj-dialog style="display:none;width:350px;height:auto"
              id="cancelDialog">
       <div slot="header" class="oj-helper-clearfix">
           <!--Cancel-->
           <span data-bind="text:'cancel' "></span>
       </div>

       <div slot="body">
           <!--                       Are you Sure?-->
           <span data-bind="text:'cancelbodymessage'"></span>
       </div>
       <div slot="footer">
           <button id="buttonOpenerNested" type="button"
                   data-bind="click: 'cancelActionBtrip',ojComponent: {component: 'ojButton',label: 'yes'}"></button>

           <button id="cancelButton" type="button"
                   data-bind="click: 'canceldBtrip',ojComponent: {component: 'ojButton',label: 'no'}"></button>
       </div>
   </oj-dialog>
</div>
    
    
    
</div>
</div>