<h1 class="header_headline_style"><span> <oj-bind-text value="[[headerLbl]]"></oj-bind-text> </span></h1>
<h3 id="currentStepText" class="header_headline_style"  data-bind="text: valueText"></h3>
<div class="request_body_styling animated fadeInUp">
    <div class="oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-flex-items-pad">
        <div class="oj-flex">
            <div class="oj-flex-item">
                <oj-bind-if test='[[isShown]]'>

                    <oj-button class="apBtn-2" on-oj-action='[[submitButton]]'>
                        <span><oj-bind-text value="[[approve]]"></oj-bind-text></span>
                    </oj-button>

                </oj-bind-if>
                <button id="reject" type="button" class="demo-button-error"
                        data-bind="visible:isShown,click: rejectButton, ojComponent: { component: 'ojButton', label: reject}"></button>

                <button id="back" type="button"  class="oj-button-primary"
                        data-bind="click: cancelRewaardRequst,ojComponent: { component: 'ojButton', label: back,icons: {start:'oj-fwk-icon-back oj-fwk-icon'}}"></button>
            </div>
            <div id="sampleDemo" class="demo-padding demo-container">
                <div id="componentDemoContent">
                    <div id="dialogWrapper">
                        <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
                            <div slot="header" class="oj-helper-clearfix">
                                <label data-bind="text:confirmMessage "/>
                            </div>
                            <div slot="body">     
                                <label data-bind="text:approveMessage "/>              
                            </div>
                            <div slot="footer">
                                <oj-button disabled="{{disableSubmit}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[approveRequst]]'>
                                    <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                                </oj-button>

                                <oj-button disabled="{{disableSubmit}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[cancelButton]]'>
                                    <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                                </oj-button>
                            </div>
                        </oj-dialog>

                        <oj-dialog class="main-dialog main-dialog-width" id="rejectDialog">
                            <div slot="header" class="oj-helper-clearfix">
                                <label data-bind="text:confirmMessage "/>
                            </div>
                            <div slot="body">     
                                <label data-bind="text:rejectDialogBody "/>              
                            </div>
                            <div slot="footer">
                                <oj-button disabled="{{disableSubmit}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[rejectRewaardRequst]]'>
                                    <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                                </oj-button>

                                <oj-button disabled="{{disableSubmit}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[rejectCancelButton]]'>
                                    <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                                </oj-button>
                            </div>
                        </oj-dialog>
                    </div>
                </div>
            </div>
        </div>
        <div class="oj-form-layout">
            <div id="form-container" class="oj-form-layout">
                <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations"> 
                    <div class="oj-form" id="xx">
                        
                    </div>
                     
                    
                           <div class="oj-flex-item">
                               <label  data-bind="text: resumeAttachmentLbl"/>
                           </div>
                           <div class="oj-flex-item">
                             
<!--                               <oj-file-picker class="oj-filepicker-custom" required 
                                               select-on="click"
                                               selection-mode="single" 
                                               on-oj-select='[[attachmentSelectListener]]'>
                                   <oj-button slot='trigger' chroming='half' >
                                       <span slot='startIcon' class='oj-fwk-icon oj-fwk-icon-arrowbox-n'><oj-bind-text value="[[UploadFileLbl]]"></span>
                                   </oj-button>
                               </oj-file-picker>
                               <oj-button class="apBtn-2" on-oj-action='[[removeSelectedAttachment]]'>
                                   <span><oj-bind-text value="[[removeBtnLbl]]"></oj-bind-text></span>
                               </oj-button>-->
                               <oj-button class="apBtn-2" on-oj-action='[[openAttachmentViewer]]' >
                                   <span><oj-bind-text value="[[viewLbl]]"></oj-bind-text></span>
                               </oj-button>
                           </div>
<!--                           <div class="oj-flex-item">
                               <label data-bind="text: fileUploadStatusLbl"/>
                           </div>-->
                           <div class="oj-flex-item">
                               <div style="padding-top:5px"></div>
                               <oj-list-view id="listview" aria-label="list using observable array" 
                                             data="[[dataProviderAttachment]]" selection-mode="single" selection="{{selectedItemsAttachment}}">
                                   <template slot="itemTemplate">
                                       <span>
                                           <oj-bind-text value='[[$current.data.name]]'></oj-bind-text>
                                       </span>
                                   </template>
                               </oj-list-view>
                           </div>  
                                     
                              
                </div>
                                        
            </div>
                             
                  <h3> <label  data-bind="text:rejectMessage"/></h3>   
                                      <div class="oj-flex">  
                                           <div class="oj-flex-item">
                                               <label data-bind="text:rejectMessage"/>
                                               <oj-input-text id="input"  value="{{rejectReason}}"></oj-input-text>
                                             </div>
                                       </div>   
                               
        </div>
    </div>
    
    
    <div id="dialogWrapper">
       <oj-dialog style="display:none;width:350px;height:auto"
                  id="cancelDialog">
           <div slot="header" class="oj-helper-clearfix">
               <!--Cancel-->
               <span data-bind="text:'cancel' "></span>
           </div>

           <div slot="body">
               <!--                       Are you Sure?-->
               <span data-bind="text:'cancelbodymessage'"></span>
           </div>
           <div slot="footer">
               <button id="buttonOpenerNested" type="button"
                       data-bind="click: 'cancelActionBtrip',ojComponent: {component: 'ojButton',label: 'yes'}"></button>

               <button id="cancelButton" type="button"
                       data-bind="click: 'canceldBtrip',ojComponent: {component: 'ojButton',label: 'no'}"></button>
           </div>
       </oj-dialog>
   </div>
    
    
    
    
</div>