<div class="form-layout-container">
        <div class="oj-form-layout container">
                




                  
                        <div class="row">
                            <div id="t1" class="eminfosec col-md-3" data-bind="visible:!$root.hideLeftMenu(),ojModule: { viewName: 'modules/employeeCard'}"></div>
                      
                
                <!--            <oj-bind-if test="[[eitIconsLoaded() == false]]">
                                <div class="col-md-9 home_icon_style row">
                                     ko foreach: $root.tempIcons 
                                    <div class="col-sm-6 col-md-2 col-Mob-50">
                                        <div class="Dshboardicons_body_style"
                                             <a href="#" id="router" class=" form-router-href">
                                                <span class="shine icon-home-slef oj-clickable-icon demo-icon-font oj-icon-circle oj-icon-circle-border oj-icon-xs label" >
                                                    <span class="oj-icon-circle-inner oj-icon-no-background"></span>
                                                </span>
                                                <span class="shine shine-div"> </span>
                                            </a>
                                        </div>
                                    </div>
                                     /ko 
                                </div>
                            </oj-bind-if>-->
                
                            <!--<oj-bind-if test="[[eitIconsLoaded() == true]]">-->
                                <div class="col-md-9 home_icon_style row">
                                    <!--ko foreach: icons --> 
                                    <div class="col-sm-6 col-md-2 col-Mob-50 animated fadeInDown">
                                        <div class="Dshboardicons_body_style"
                                             <a href="#" id="router" class=" form-router-href" 
                                   data-bind="click: function(){ $parent.iconNavigation(router, code); }, visible: visible">
                
                                                <span  class="icon-home-slef oj-clickable-icon demo-icon-font oj-icon-circle oj-icon-circle-border oj-icon-xs label"
                                               data-bind="css:'oj-icon-xs ' + value, attr: {'aria-label':'Circular icon with color ' + label}" >
                
                                                    <span class="oj-icon-circle-inner oj-icon-no-background">
                                                        <img data-bind="css:'dashboardIconImg'" src="css/images/icons/self_service_01.png"></span>
                                                </span>
                
                                                </span>
                
                                                <span class="form-router-text" data-bind="text: text"> </span>
                                            </a>
                                        </div>
                                    </div>
                            <!-- /ko -->
                                </div>
                            <!--</oj-bind-if>-->
                        </div>
                                   
        
              
        </div>
    </div>