<h1><label for="type" style="display:block; font-size:large; font-weight:bold;" data-bind="text: notifications"/></h1>
<div class="se-pre-con"></div>
<div>

    <button data-bind="click: reviewNotification ,  ojComponent: {
          component: 'ojButton', 
         label: review}"
            class="oj-button-primary">

    </button>

    <br>
    <div>
        <oj-table class='apTable-1' id='table' aria-label='Departments Table'
                  data='[[dataprovider]]'
                  selection-mode='{"row": "multiple", "column": "multiple"}'
                  dnd='{"reorder": {"columns": "enabled"}}'
                  scroll-policy='loadMoreOnScroll'
                  scroll-policy-options='{"fetchSize": 10}'
                  columns='[{"headerText": "Department Id", 
                  "field": "DepartmentId",
                  "headerClassName": "oj-sm-only-hide",
                  "className": "oj-sm-only-hide",
                  "resizable": "enabled"},
                  {"headerText": "Department Name", 
                  "field": "DepartmentName",
                  "resizable": "enabled"},
                  {"headerText": "Location Id", 
                  "field": "LocationId",
                  "headerClassName": "oj-sm-only-hide",
                  "className": "oj-sm-only-hide",
                  "resizable": "enabled"},
                  {"headerText": "Manager Id", 
                  "field": "ManagerId",
                  "resizable": "enabled"}]'>
        </oj-table>
    </div>