<div class="request_body_styling profile_page_body animated fadeInUp">
    
    <!-- Don't remove "profilepic" class from this image-->
<!--    <img id="profilepic" class="profilepic profile_page_profilepic" src="css/images/avatar_24px.png" alt="User">-->

<div class="profile-pic">

<!--    <oj-avatar role="img" size="[[avatarSize]]" initials='[[initials]]'
        data-bind="attr:{'aria-label':'Avatar of ' + firstName + ' ' + lastName}">
    </oj-avatar>-->
         <oj-avatar class="avatar" :src="[[image]]" :aria-label="{{'Avatar of ' + firstName + ' ' + lastName}}" role="img" size="[[avatarSize]]" initials='[[initials]]'>
                          </oj-avatar>

</div>

    <div class="container ProPage_infoContainer">
        
        <div class="row">
            <div class="col-md-4">

                 <h5><b class="ProfPagInfoType" data-bind="text: Name"></b><span data-bind="text: personDetails().displayName"></span>  </h5>
                 <h5><b class="ProfPagInfoType" data-bind="text: Person_Number"></b><span data-bind="text: personDetails().personNumber"></span> </h5>
             
            </div>
            <div class="col-md-4 ">
                <h5><b class="ProfPagInfoType" data-bind="text: Position"></b><span data-bind="text: personDetails().positionName"></span>  </h5>
                <h5><b class="ProfPagInfoType" data-bind="text: Department"></b><span data-bind="text: personDetails().departmentName"></span> </h5>
                
            </div>  

            <div class="col-md-4">
               <h5><b class="ProfPagInfoType" data-bind="text: Grade"></b><span data-bind="text: personDetails().grade"></span> </h5>
               <h5><b class="ProfPagInfoType" data-bind="text: Manager"></b><span data-bind="text: personDetails().managerName"></span>  </h5>
            
            </div>



        </div>
        
    </div>

    
    <hr> 
    
    <oj-bind-if test=[[LeftMenu()]]>
    <div class="request">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="pendingtxt">Pending</span><span class="pendingno"><oj-bind-text value="[[countPending]]"></oj-bind-text></span>
                </div>
                <div class="col-md-4">
                    <span class="approvedtxt">Approved</span><span class="approvedno"><oj-bind-text value="[[countApproved]]"></oj-bind-text></span>
                </div>
                <div class="col-md-4">
                    <span class="rejecttxt">Rejected</span><span class="rejectno"><oj-bind-text value="[[countRejected]]"></oj-bind-text></span>
                </div>
            </div>
        </div>
    </div>
    <hr>
</oj-bind-if>

    
    
    <div class="container ProPage_DetContainer ">
            <div slot="header" class="oj-helper-clearfix" >
        <label data-bind="text: Details" style="font-size: 20px;color: #008977; font: bold; margin-bottom: 20px;"></label> 
    </div>

    <div slot="body" style="padding: 0;">

        <div class="oj-panel details_cont  demo-panel-customizations">
            <div class="demo-flex-display oj-flex-items-pad">

                <div class="oj-flex">

                    <div class="oj-flex-item textResponsiveDetailsbody">
                        <h5 class="textResponsiveDetails">
                            <b class="textlabel" data-bind="text: citizenshipLegislationCode" style="color:black">  </b>
                            <span data-bind="text:  personDetails().citizenshipLegislationCode" style="color:black"></span> </h5>
                    </div>

                    <div class="oj-flex-item textResponsiveDetailsbody">
                        <h5 class="textResponsiveDetails">
                            <b class="textlabel" data-bind="text: hireDate" style="color:black"></b>
                            <span data-bind="text:  personDetails().hireDate" style="color:black"></span></h5>
                    </div>

                </div>

                <div class="oj-flex">

                    <div class="oj-flex-item textResponsiveDetailsbody">  
                        <h5 class="textResponsiveDetails">
                            <b class="textlabel" data-bind="text: assignmentName" style="color:black"></b>
                            <span data-bind="text:  personDetails().assignmentName" style="color:black"></span> </h5>   
                    </div>

                    <div class="oj-flex-item textResponsiveDetailsbody">
                        <h5 class="textResponsiveDetails">
                            <b class="textlabel" data-bind="text: assignmentCategory" style="color:black">  </b>
                            <span data-bind="text:  personDetails().assignmentCategory" style="color:black"></span> </h5>
                    </div>

                </div>

<!--                <div class="oj-flex"> 

                    <div class="oj-flex-item textResponsiveDetailsbody">  
                        <h5 class="textResponsiveDetails">
                            <b class="textlabel" data-bind="text: assignmentStatus" style="color:black"></b>
                            <span data-bind="text:  personDetails().assignmentStatus" style="color:black"></span> </h5>   
                    </div>

                    <div class="oj-flex-item textResponsiveDetailsbody">
                        <h5 class="textResponsiveDetails"><b class="textlabel" data-bind="text: salaryAmount" style="color:black">    </b>
                            <span data-bind="text:  personDetails().salaryAmount" style="color:black"></span> </h5>   
                    </div>

                </div>-->

                <div class="oj-flex">  

                     <div class="oj-flex-item textResponsiveDetailsbody">  
                        <h5 class="textResponsiveDetails"><b class="textlabel" data-bind="text: departmentName" style="color:black">   </b>
                            <span data-bind="text:  personDetails().departmentName" style="color:black"></span></h5>
                    </div>

                    <div class="oj-flex-item textResponsiveDetailsbody">
                        <h5 class="textResponsiveDetails"><b class="textlabel" data-bind="text: grade" style="color:black">    </b>
                            <span data-bind="text:  personDetails().grade" style="color:black"></span> </h5>   
                    </div>

                </div>

                <div class="oj-flex">   
                      <div class="oj-flex-item textResponsiveDetailsbody">  
                        <h5 class="textResponsiveDetails"><b class="textlabel" data-bind="text: workPhone" style="color:black">   </b>
                            <span data-bind="text:  personDetails().workPhone" style="color:black"></span></h5>
                    </div>

                    <div class="oj-flex-item textResponsiveDetailsbody">
                        <h5 class="textResponsiveDetails"><b class="textlabel" data-bind="text: country" style="color:black">    </b>
                            <span data-bind="text:  personDetails().country" style="color:black"></span> </h5>   
                    </div>

                </div>

                <div class="oj-flex"> 

                    <div class="oj-flex-item textResponsiveDetailsbody">  
                        <h5 class="textResponsiveDetails"><b class="textlabel" data-bind="text: city" style="color:black">   </b>
                            <span data-bind="text:  personDetails().city" style="color:black"></span></h5>
                    </div>

                           <div class="oj-flex-item textResponsiveDetailsbody">  
                        <h5 class="textResponsiveDetails"><b class="textlabel" data-bind="text: dateOfBirth" style="color:black">   </b>
                            <span data-bind="text:  personDetails().dateOfBirth" style="color:black"></span></h5>
                    </div>

                </div>
                <div class="oj-flex"> 

                    <div class="oj-flex-item textResponsiveDetailsbody">  
                        <h5 class="textResponsiveDetails"><b class="textlabel" data-bind="text: employeeLocation" style="color:black">   </b>
                            <span data-bind="text:  personDetails().employeeLocation" style="color:black"></span></h5>
                    </div>

                    <div class="oj-flex-item textResponsiveDetailsbody">
                        <h5 class="textResponsiveDetails"><b class="textlabel" data-bind="text: managerName" style="color:black">    </b>
                            <span data-bind="text:  personDetails().managerName" style="color:black"></span> </h5>   
                    </div>

                </div>
                <div class="oj-flex">  
                </div>
                <div class="oj-flex"> 

                    <div class="oj-flex-item textResponsiveDetailsbody">  
                        <h5 class="textResponsiveDetails"><b class="textlabel" data-bind="text: positionName" style="color:black">   </b>
                            <span data-bind="text:  personDetails().positionName" style="color:black"></span></h5>
                    </div>
                    <div class="oj-flex-item textResponsiveDetailsbody"> 
                        <h5 class="textResponsiveDetails"><b class="textlabel" data-bind="text: nationalId" style="color:black">   </b>
                            <span data-bind="text:  personDetails().nationalId" style="color:black"></span></h5>
                    </div>

                </div>
                <div class="oj-flex">   

                    



                </div>



                <div class="oj-flex">

                    <div class="oj-flex-item textResponsiveDetailsbody">  
                        <h5 class="textResponsiveDetails"><b class="textlabel" data-bind="text: managerOfMnagerName" style="color:black">   </b>
                            <span data-bind="text:  personDetails().managerOfMnagerName" style="color:black"></span></h5>
                    </div>

                    <div class="oj-flex-item textResponsiveDetailsbody">
                        <h5 class="textResponsiveDetails"><b class="textlabel" data-bind="text: probationPeriodEndDate" style="color:black">    </b>
                            <span data-bind="text:  personDetails().probationPeriodEndDate" style="color:black"></span> </h5>   
                    </div>

                </div>
                <div class="oj-flex"> 

                    



                </div>
                <div class="oj-flex">  

                    <div class="oj-flex-item textResponsiveDetailsbody">  
                        <h5 class="textResponsiveDetails"><b class="textlabel" data-bind="text: jobName" style="color:black">   </b>
                            <span data-bind="text:  personDetails().jobName" style="color:black"></span></h5>
                    </div>

                    <div class="oj-flex-item textResponsiveDetailsbody">
                        <h5 class="textResponsiveDetails"><b class="textlabel" data-bind="text: maritalStatus" style="color:black">    </b>
                            <span data-bind="text:  personDetails().maritalStatus" style="color:black"></span> </h5>   
                    </div>

                </div>

                <div class="oj-flex">    

                    <div class="oj-flex-item textResponsiveDetailsbody">  
                        <h5 class="textResponsiveDetails"><b class="textlabel" data-bind="text: email" style="color:black">   </b>
                            <span data-bind="text:  personDetails().email" style="color:black"></span></h5>
                    </div>

                    <div class="oj-flex-item textResponsiveDetailsbody">
                        <h5 class="textResponsiveDetails"><b class="textlabel" data-bind="text: mobileNumber" style="color:black">    </b>
                            <span data-bind="text:  personDetails().mobileNumber" style="color:black"></span> </h5>   
                    </div>

                </div>
                <div class="oj-flex">

 
                </div>

                <div class="oj-flex">   

                    

                </div>

            </div>
        </div>
    </div>
        
    </div>

</div>
