<div><oj-messages position="{}" display="general" messages="[[messages]]"></oj-messages></div>
<h1 class="header_headline_style"><span> <oj-bind-text value="[[oprationMessage]]"></oj-bind-text> </span></h1>
<div id="form-container" class="request_body_styling animated fadeInUp">
    <div class="oj-form">
        <div class="oj-flex-bar">
            <div class="oj-flex-bar-start">

                <oj-button class="apBtn-2" on-oj-action='[[backAction]]'  >
                    <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[previousStep]]'  data-bind="visible: backActionBtnVisible" disabled="[[currentStepValue() == 'stp1']]">
                    <span><oj-bind-text value="[[backLbl]]"></oj-bind-text></span>
                </oj-button>

            </div>
            <div class="oj-flex-bar-end">
                <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[nextStep]]' data-bind="visible: nextBtnVisible" disabled="[[currentStepValue() == 'stp2']]">
                    <span><oj-bind-text value="[[nextLbl]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[submitButton]]' data-bind="visible: addBtnVisible">
                    <span><oj-bind-text value="[[submitLbl]]"></oj-bind-text></span>
                </oj-button>

                <div id="sampleDemo" class="demo-padding demo-container"></div>
                <div id="dialogWrapper">
                    <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
                        <div slot="header" class="oj-helper-clearfix">
                            <label data-bind="text: confirmMessage"></label>
                        </div>

                        <div slot="footer">
                            <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[commitRecord]]'>
                                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                            </oj-button>

                            <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[cancelButton]]'>
                                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                            </oj-button>
                        </div>
                    </oj-dialog>
                </div>
                <div id="dialogWrapper">
                    <oj-dialog class="main-dialog main-dialog-width" id="NoDialog">
                        <div slot="header" class="oj-helper-clearfix">
                            <label data-bind="text: confirmMessage"></label>
                        </div>

                        <div slot="body">
                            <label data-bind="text: validationMessage"></label>
                        </div>
                        <div slot="footer">
                            <oj-button class="apBtn-2" on-oj-action='[[cancelButtonDialog]]'>
                                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                            </oj-button>
                        </div>
                    </oj-dialog>
                </div>
            </div>
        </div>
    </div>
    <div id="train-container">
        <div>
            <oj-train id="train"  data-bind="visible: trainVisible"
                      selected-step="{{currentStepValue}}" steps="[[stepArray]]"
                      class="oj-train-stretch"
                      on-oj-before-select="[[stopSelectListener]]"/>
        </div>

        <h3 id="currentStepText" data-bind="text: currentStepValueText()"></h3>
        <div class="oj-form-layout">
            <oj-validation-group id="tracker" valid="{{groupValid}}">
                <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                    <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations">
                        <div class="oj-flex-item">
                            <label data-bind="text: eitCodeLbl"/>
                        </div>
                        <div class="oj-flex-item">

                            <oj-select-one 
                                required="[[isRequired]]" 
                                placeholder="[[placeholder]]"
                                value="{{approvalSetupModel.eitCode}}"
                                disabled="{{isDisabled}}"
                                on-value-changed="{{eitCodeChangedHandler}}"
                                options="{{EitNameArr}}">
                            </oj-select-one>
                        </div>

                        <div class="oj-flex-item">
                            <label data-bind="text: typeOfActionLbl"/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-select-one 
                                required="[[isRequired]]"
                                placeholder="[[placeholder]]"
                                disabled="{{isDisabled}}"
                                on-value-changed="{{typeOfActionChangedHandler}}"
                                value="{{approvalSetupModel.typeOfAction}}"
                                options="{{typeOfActionArr}}">
                            </oj-select-one>
                        </div>

                        <oj-bind-if test="[[approvalSetupModel.typeOfAction() === 'Absence']]">
                            <div class="oj-flex-item">
                                <label data-bind="text: absenceStatusLbl"/>
                            </div>
                            <div class="oj-flex-item">
                                <oj-input-text 
                                    required="[[isRequired]]"
                                    value="{{approvalSetupModel.absenceStatus}}"
                                    autocomplete="off"
                                    disabled="true"> 
                                </oj-input-text>
                            </div>

                            <div class="oj-flex-item">
                                <label data-bind="text: absenceTypeLbl"/>
                            </div>
                            <div class="oj-flex-item">
                                <oj-select-one 
                                    required="[[isRequired]]" 
                                    placeholder="[[placeholder]]"
                                    value="{{approvalSetupModel.absenceType}}"
                                    disabled="{{isDisabled}}"
                                    options="{{absenceTypeArr}}">
                                </oj-select-one>
                            </div>

                            <div class="oj-flex-item">
                                <label data-bind="text: employerLbl"/>
                            </div>
                            <div class="oj-flex-item">
                                <oj-select-one 
                                    required="[[isRequired]]" 
                                    placeholder="[[placeholder]]"
                                    value="{{approvalSetupModel.employer}}"
                                    disabled="{{isDisabled}}"
                                    options="{{eitAndPersonArr}}">
                                </oj-select-one>
                            </div>

                            <div class="oj-flex-item">
                                <label data-bind="text: startDateLbl"/>
                            </div>
                            <div class="oj-flex-item">
                                <oj-select-one 
                                    required="[[isRequired]]" 
                                    placeholder="[[placeholder]]"
                                    value="{{approvalSetupModel.startDate}}"
                                    disabled="{{isDisabled}}"
                                    options="{{eitSegmentArr}}">
                                </oj-select-one>
                            </div>

                            <div class="oj-flex-item">
                                <label data-bind="text: endDateLbl"/>
                            </div>
                            <div class="oj-flex-item">
                                <oj-select-one 
                                    required="[[isRequired]]" 
                                    placeholder="[[placeholder]]"
                                    value="{{approvalSetupModel.endDate}}"
                                    disabled="{{isDisabled}}"
                                    options="{{eitSegmentArr}}">
                                </oj-select-one>
                            </div>

                            <div class="oj-flex-item">
                                <label data-bind="text: personNumberLbl"/>
                            </div>
                            <div class="oj-flex-item">
                                <oj-input-text 
                                    value="{{approvalSetupModel.personNumber}}"
                                    autocomplete="off"
                                    label-hint="Percentage"
                                    disabled="true">
                                </oj-input-text>
                            </div>
                        </oj-bind-if>

                        <oj-bind-if test="[[approvalSetupModel.typeOfAction() === 'ElementEntry']]">
                            <div class="oj-flex-item">
                                <label data-bind="text: elementNameLbl"/>
                            </div>
                            <div class="oj-flex-item">
                                <oj-select-one 
                                    required="[[isRequired]]" 
                                    placeholder="[[placeholder]]"
                                    value="{{approvalSetupModel.elementName}}"
                                    disabled="{{isDisabled}}"
                                    on-value-changed="{{elementNameChangedHandler}}"
                                    options="{{elementNameArr}}">
                                </oj-select-one>
                            </div>

                            <div class="oj-flex-item">
                                <label data-bind="text: recurringEntryLbl"/>
                            </div>
                            <div class="oj-flex-item">
                                <oj-select-one 
                                    required="[[isRequired]]" 
                                    placeholder="[[placeholder]]"
                                    value="{{approvalSetupModel.recurringEntry}}"
                                    disabled="true"
                                    options="{{recurringEntryArr}}">
                                </oj-select-one>
                            </div>

                            <div class="oj-flex-item">
                                <label data-bind="text: sourceSystemIDLbl"/>
                            </div>
                            <div class="oj-flex-item">
                                <oj-select-one 
                                    required="[[isRequired]]" 
                                    placeholder="[[placeholder]]"
                                    value="{{approvalSetupModel.sourceSystemId}}"
                                    disabled="{{isDisabled}}"
                                    options="{{eitSegmentArr}}">
                                </oj-select-one>
                            </div>

                            <div class="oj-flex-item">
                                <label data-bind="text: sourceSystemOwnerLbl"/>
                            </div>
                            <div class="oj-flex-item">
                                <oj-input-text 
                                    required="[[isRequired]]"
                                    value="{{approvalSetupModel.sourceSystemOwner}}"
                                    autocomplete="off"
                                    label-hint="Percentage"
                                    disabled="true">
                                </oj-input-text>
                            </div>

                            <div class="oj-flex-item">
                                <label data-bind="text: legislativeDataGroupNameLbl"/>
                            </div>
                            <div class="oj-flex-item">
                                <oj-input-text
                                    required="[[isRequired]]"
                                    value="{{approvalSetupModel.legislativeDatagroupName}}"
                                    autocomplete="off"
                                    label-hint="Percentage"
                                    disabled="true">
                                </oj-input-text> 
                            </div>

                            <div class="oj-flex-item">
                                <label data-bind="text: creatorTypeLbl"/>
                            </div>
                            <div class="oj-flex-item">
                                <oj-input-text 
                                    required="[[isRequired]]"
                                    value="{{approvalSetupModel.creatorType}}"
                                    autocomplete="off"
                                    label-hint="Percentage"
                                    disabled="true">
                                </oj-input-text> 
                            </div>
                            
                            <div class="oj-flex-item">
                                <label data-bind="text: elementReasonLbl"/>
                            </div>
                            <div class="oj-flex-item">
                                <oj-select-one 
                                    placeholder="[[placeholder]]"
                                    value="{{approvalSetupModel.reason}}"
                                    disabled="{{$parent.isDisabled}}"
                                    options="{{eitSegmentArr}}">
                                </oj-select-one>
                            </div>
                            
                            <div class="oj-flex-item">
                                <label data-bind="text: effictiveStartDateLbl"/>
                            </div>
                            <div class="oj-flex-item">
                                <oj-select-one 
                                    placeholder="[[placeholder]]"
                                   value="{{approvalSetupModel.effivtiveStartDate}}"
                                    disabled="{{$parent.isDisabled}}"
                                    options="{{eitSegmentArr}}">
                                </oj-select-one>
                            </div>

                            <!-- ko foreach: inputValues -->
                            <div class="oj-flex-item">
                                <label data-bind="text: inputValueLbl"/>
                            </div>
                            <div class="oj-flex-item">
                                <oj-select-one 
                                    
                                    placeholder="[[$parent.placeholder]]"
                                    value="{{inputEitValue}}"
                                    disabled="{{$parent.isDisabled}}"
                                    options="{{$parent.eitSegmentArr}}">
                                </oj-select-one>
                            </div>
                            <!-- /ko -->

                        </oj-bind-if>

                    </div>


                </div>
            </oj-validation-group>
        </div>
    </div>

</div>