<div><oj-messages position="{}" display="general" messages="[[messages]]"></oj-messages></div>
<h1 class="header_headline_style"><span> <oj-bind-text value="[[elementEntryLbl]]"></oj-bind-text> </span></h1>
<div class="request_body_styling animated fadeInUp">
    <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">

        <div class="form-row">
            <div class="form-group col-md-6 srjob-col-pad">
                <label data-bind="text: elementNameLbl"/>
                <oj-input-text 
                    id="filter"
                    autocomplete="off"
                    placeholder="[[search]]" 
                    on-raw-value-changed="[[handleValueChanged]]" 
                    value="{{filter}}">
                </oj-input-text>
            </div>

            <div class="form-group col-md-6 srjob-col-pad">
                <br/>
                <div class="btn_row_st" align="center">
                    <oj-button class="apBtn-2" on-oj-action='[[clearClick]]'>
                        <span><oj-bind-text value="[[clear]]"></oj-bind-text></span>
                    </oj-button>
                </div> 
            </div>
        </div>

        <div class="oj-flex">
            <div class="oj-flex-item">
                <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                    <span><oj-bind-text value="[[backActionLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-arrow-circle-left"></span>
                </oj-button>
                <oj-button class="apBtn-2" on-oj-action='[[btnAddElementEntry]]'>
                    <span><oj-bind-text value="[[addSummaryLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                </oj-button>

                <oj-button class="apBtn-2" on-oj-action='[[btnUpdateElementEntry]]'>
                    <span><oj-bind-text value="[[editLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                </oj-button>
                 <oj-button disabled="{{BtnDeletedisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[btnDeleteElementEntry]]'>
                    <span><oj-bind-text value="[[DeleteLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                </oj-button>
            </div>
        </div>

        <div>
            <oj-table id='table' class='apTable-1' aria-label='Departments Table'
                      data='[[dataSource]]'
                      selection-mode='{"row": "multiple", "column": "multiple"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      display="grid"
                      on-oj-before-current-row="[[tableSelectionListener]]"
                      columns='{{columnArray}}'>
                <oj-paging-control id="paging" class='apPaging-1' data='[[dataSource]]' page-size='10' slot='bottom'>
                </oj-paging-control>
            </oj-table>
        </div>
    </div>
    
    <oj-dialog class="main-dialog main-dialog-width" id="NoDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text: confirmMessage"></label>
        </div>

        <div slot="body">
            <label data-bind="text: deleteMessageLbl"></label>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[SubmitButtonDialog]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2" on-oj-action='[[cancelButtonDialog]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>

        </div>
    </oj-dialog>
</div>