
    <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline" oj-md-labels-inline >
        <p class="header_headline_style animated fadeInUp" data-bind="text:title"> </p>
        <div class="request_body_styling animated fadeInUp" >
            <div class="form-group col-md-6 srjob-col-pad" style=" margin: auto;">
                <br/>
                <div class="btn_row_st" align="center">
                    <div id="parentContainer" style="padding:10px">

                        <oj-file-picker accept="[[acceptArr]]" name="file-picker" selection-mode="single" on-oj-select='[[selectListener]]'>
                            <div tabindex='0' slot='trigger'
                                 class='oj-filepicker-dropzone'>
                                <p class='oj-filepicker-text'>
                                    <span id="selected" data-bind="text: picker_text"></span>
                                </p>
                            </div>
                        </oj-file-picker>

                        <p></p>
                        <p></p>
                        <oj-button class="apBtn-2 oj-filepicker-custom" on-oj-action='[[uploadAction]]'>
                            <span slot='startIcon' class='oj-fwk-icon fa fa-upload'><oj-bind-text value="{{upload}}"></oj-bind-text></span>
                        </oj-button>
                        <oj-button class="apBtn-2" on-oj-action='[[downloadAction]]'>
                            <span slot='startIcon' class='oj-fwk-icon fa fa-download'><oj-bind-text value="[[download]]"></oj-bind-text></span>
                        </oj-button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
