<div><oj-messages position="{}" display="general" messages="[[messages]]"></oj-messages></div>
<h1 class="header_headline_style"><span> <oj-bind-text value="[[currentStepValueText()]]"></oj-bind-text> </span></h1>
<div id="train-container">
    <div class="oj-form">
        <div class="oj-flex-bar">
            <div class="oj-flex-bar-start">
                <oj-bind-if test='true'>
                    <oj-button class="apBtn-2" on-oj-action="[[cancelAction]]">
                        <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                    </oj-button>
                </oj-bind-if>
                <oj-bind-if test='[[addBtnVisible]]'>
                    <oj-button class="apBtn-2" on-oj-action="[[previousStep]]">
                        <span><oj-bind-text value="[[pervious]]"></oj-bind-text></span>
                    </oj-button>
                </oj-bind-if>
            </div>
            <div class="oj-flex-bar-end">
                <oj-bind-if test='[[nextBtnVisible]]'>
                    <oj-button class="apBtn-2 apBtn-disabled-2"
                               on-oj-action="[[nextStep]]"
                               disabled="[[currentStepValue() == 'stp2']]">
                        <span><oj-bind-text value="[[next]]"></oj-bind-text></span>
                    </oj-button>
                </oj-bind-if>
                <oj-bind-if test='[[addBtnVisible]]'>
                    <oj-button class="apBtn-2" on-oj-action="[[submitButton]]" visible="[[currentStepValue() == 'stp2']]">
                        <span><oj-bind-text value="[[submit]]"></oj-bind-text></span>
                    </oj-button>
                </oj-bind-if>
            </div>
            <div id="dialogWrapper">
                <oj-dialog id="yesNoDialog">
                    <div slot="header" class="oj-helper-clearfix">
                        <label data-bind="text:confirmMessage "/>
                    </div>
                    <div slot="body">
                        <label data-bind="text:oprationMessage "/>
                    </div>
                    <div slot="footer">
                        
                        <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[commitRecord]]'>
                            <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                        </oj-button>
                        
                        <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[cancelButton]]'>
                            <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                        </oj-button>
                        
                    </div>
                </oj-dialog>
            </div>
        </div>
    </div>
    <oj-bind-if test='[[trainVisibility]]'>
        <div disabled> 
            <oj-train id="train"
                      selected-step="{{currentStepValue}}" steps="[[stepArray]]"
                      class="oj-train-stretch"
                      on-oj-before-select="[[stopSelectListener]]"/>
        </div>
    </oj-bind-if>
    <br>
    <div class="oj-form-layout oj-panel">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
            <oj-validation-group id="tracker" valid="{{groupValid}}">
                <div class="oj-flex" >
                    <div class="oj-flex">
                        <label for="control1" data-bind="text: startDate " show-required/>
                    </div>
                    <oj-input-text id="datePickerStartDate" value="{{positionModle.startDate}}" disabled='[[isDisabled]]' required>
                    </oj-input-text>
                </div>

                <div class="oj-flex" >
                    <div class="oj-flex">
                        <label for="control1" data-bind="text: endDate " show-required/>
                    </div>
                    <oj-input-text id="datePickerEndDate" value="{{positionModle.endDate}}" disabled='[[isDisabled]]' required>
                    </oj-input-text>
                </div>
                <div class="oj-flex">
                    <div class="oj-flex">
                        <label for="firstName"  data-bind="text: taxonomicCode " show-required/>
                    </div>
                    <oj-select-one id="v3" disabled='[[isDisabled]]' required value="{{positionModle.taxonomicCode}}"
                                   placeholder="[[placeholder]]">
                        <!-- ko foreach: jobCodeArr -->
                        <oj-option value="[[value]]"><span data-bind="text: description"></span></oj-option>
                        <!-- /ko -->
                    </oj-select-one>
                </div>
                <div class="oj-flex">
                    <div class="oj-flex">
                        <label for="codeOfTaxonomicCode"  data-bind="text: codeOfTaxonomicCode " />
                    </div>
                    <oj-select-one id="v3" disabled='[[isDisabled]]'  value="{{positionModle.codeOfTaxonomicCode}}"
                                   placeholder="[[placeholder]]">
                        <!-- ko foreach: jobCodeArr -->
                        <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                        <!-- /ko -->
                    </oj-select-one>
                </div>
                <div class="oj-flex">
                    <div class="oj-flex">
                        <label for="personNumber" data-bind="text: ranked "show-required/>
                    </div>
                    <oj-select-one id="v4" disabled='[[isDisabled]]' required="[[isRequired]]" value="{{positionModle.ranked}}"  placeholder="[[placeholder]]">
                        <!-- ko foreach: gradeArr -->
                        <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                        <!-- /ko -->
                    </oj-select-one>
                </div>
                <div class="oj-flex">
                    <div class="oj-flex">
                        <label for="personNumber" data-bind="text: positionNumber  "show-required/>
                    </div>
                    <oj-input-number id="v5" disabled='[[isDisabled]]' required="[[isRequired]]" 
                                     value="{{positionModle.positionNumber}}">
                    </oj-input-number>
                </div>
                <div class="oj-flex">
                    <div class="oj-flex">
                        <label for="personNumber" data-bind="text: managing "show-required/>
                    </div>
                    <oj-select-one id="v7" disabled='[[isDisabled]]' required="[[isRequired]]" value="{{positionModle.managing}}" placeholder="[[placeholder]]">
                        <!-- ko foreach: orgnizationArr -->
                        <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                        <!-- /ko -->
                    </oj-select-one>
                </div>
                <div class="oj-flex">
                    <div class="oj-flex">
                        <label for="personNumber" data-bind="text: positionName "show-required/>
                    </div>
                    <oj-select-one id="v6" disabled='[[isDisabled]]' required="[[isRequired]]" value="{{positionModle.positionName}}"placeholder="[[placeholder]]">
                        <!-- ko foreach: positionNameArr -->
                        <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                        <!-- /ko -->
                    </oj-select-one>
                </div>
            </oj-validation-group>
        </div>
    </div>

</div>

<div id="dialogWrapper">
    <oj-dialog id="ValidDate">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text: confirmMessage"/>
        </div>
        <div slot="body">
            <label data-bind="text: DateValidMessage"/>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[cancelValidDateButton]]'>
                <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>
</div>
<div id="dialogWrapper">
    <oj-dialog id="cancelDialog">
        <div slot="header" class="oj-helper-clearfix">
            <!--Cancel-->
            <span data-bind="text:canceheaderMessage "></span>
        </div>

        <div slot="body">
            <!--                       Are you Sure?-->
            <span data-bind="text:cancelbodymessage"></span>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[cancelActionposition]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2" on-oj-action='[[canceldposition]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>

        </div>
    </oj-dialog>
</div>