<h1 class="header_headline_style"><span> <oj-bind-text value="[[positionLbl]]"></oj-bind-text> </span></h1>

<div id="train-container">

    <div class="oj-form-layout">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">

            <div class="form-row">
                <div class="form-group col-md-6 srjob-col-pad">

                    <label for="positionName"  data-bind="text: positionNameLbl"/>

                    <oj-select-one id="select" class="form-control" placeholder="[[placeholder]]"
                                   value="{{ministryPositionbSearch.positionName}}"
                                   on-value-changed = "{{positionNameChangedHandler}}">
                        <!-- ko foreach: positionNameArr -->
                        <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                        <!-- /ko -->
                    </oj-select-one>
                </div>

                <div class="form-group col-md-6 srjob-col-pad">
                    <label for="classificationSymbol" data-bind="text: classificationSymbolLbl "/>
                    <oj-select-one id="select" class="form-control"  placeholder="[[placeholder]]"
                                   value="{{ministryPositionbSearch.taxonomicCode}}"
                                   on-value-changed = "{{taxonomicCodeChangedHandler}}">
                        <!-- ko foreach: jobCodeArr -->
                        <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                        <!-- /ko -->
                    </oj-select-one>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6 srjob-col-pad">

                    <label for="ranked" data-bind="text: rankedLbl "/>

                    <oj-select-one id="select" class="form-control" placeholder="[[placeholder]]"
                                   value="{{ministryPositionbSearch.ranked}}"
                                   on-value-changed = "{{rankedChangedHandler}}">
                        <!-- ko foreach: gradeArr -->
                        <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                        <!-- /ko -->
                    </oj-select-one>

                </div>

                <div class="form-group col-md-6 srjob-col-pad">
                    <label for="positionDepartment" data-bind="text: positionDepartmentLbl "/>
                    <oj-select-one id="v7" class="form-control" disabled='[[isDisabled]]' required="[[isRequired]]" value="{{ministryPositionbSearch.managing}}" 
                                   placeholder="[[placeholder]]"
                                   on-value-changed = "{{managingChangedHandler}}">
                        <!-- ko foreach: orgnizationArr -->
                        <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                        <!-- /ko -->
                    </oj-select-one>

                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-6 srjob-col-pad">

                    <label for="positionNumber" data-bind="text: positionNumberLbl "/> <br/>

                    <oj-input-number id="text-input" value="{{ministryPositionbSearch.postionNumber}}" on-value-changed = "{{postionNumberChangedHandler}}"></oj-input-number>  

                </div>
            </div>

            <br/>

            <div class="row">
                <div class="btn_row_st" align="center">
                    <oj-button disabled="{{searchdisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[searchPerson]]'>
                        <span><oj-bind-text value="[[search]]"></oj-bind-text></span>
                    </oj-button>

                    <oj-button disabled="{{cleardisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[reset]]'>
                        <span><oj-bind-text value="[[clear]]"></oj-bind-text></span>
                    </oj-button>
                </div>
            </div>



            <div id="form-container" class="row">
                <div class="btn_row_st" align="center">
                    <oj-button class="apBtn-2" on-oj-action='[[addJob]]'>
                        <span><oj-bind-text value="[[addLbl]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                    </oj-button>

                    <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[openDialogEdit]]'>
                        <span><oj-bind-text value="[[editLbl]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                    </oj-button>

                    <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[viewJob]]'>
                        <span><oj-bind-text value="[[view]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                    </oj-button>

                    <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[detailsOfJob]]'>
                        <span><oj-bind-text value="[[additionalDetailsLbl]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-check"></span>
                    </oj-button>

                    <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[openDialog]]'>
                        <span><oj-bind-text value="[[historyLbl]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-eye"></span>
                    </oj-button>

                    <oj-button class="apBtn-2" on-oj-action='[[openEffectiveDate]]'>
                        <span><oj-bind-text value="[[effectiveDate]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-eye"></span>
                    </oj-button>

                </div>
            </div>
        </div>
    </div>
    <br/>
    <div>
        </oj-table>
        <oj-table id='table' aria-label='Departments Table'
                  class='apTable-1'
                  data='[[dataSource]]'
                  selection-mode='{"row": "multiple", "column": "multiple"}'
                  dnd='{"reorder": {"columns": "enabled"}}'
                  scroll-policy-options='{"fetchSize": 10}'
                  columns='[[columnArray]]'
                  display = "grid"
                  on-oj-before-current-row = "[[tableSelectionListener]]">
            <oj-paging-control id="paging" data='[[dataSource]]' page-size='10' slot='bottom' class="display-inline-flex">
            </oj-paging-control>
        </oj-table>

    </div>

</div>
<div id="componentDemoContent">
    <div id="dialogWrapper">
        <oj-dialog class = "oj-dialog-content oj-dialog-default-content main-dialog" id="modalDialog1" >
            <div slot="header" class="oj-helper-clearfix">
                <label  data-bind="text:historyDetails "/>
            </div>
            <div slot="body">
                <oj-table id="tbl12" aria-label="Approvals Table"
                          class='apTable-1'
                          data='[[dataSourceTB2]]'
                          display = "grid"
                          selectionMode = "{'row': 'single'}"
                          columns-default='{"sortable": "enabled"}'
                          dnd='{"reorder": {"columns": "enabled"}}'
                          columns='{{columnArray1}}'>
                </oj-table>                
            </div>
            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[closeDialog]]'>
                    <span><oj-bind-text value="[[ok]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>

</div>


<div id="dialogWrapper">
    <oj-dialog class="main-dialog" id="editDialog1" >
        <div slot="header" class="oj-helper-clearfix">
            <label  data-bind="text:EditDialogPopup "/>
        </div>
        <oj-validation-group id="tracker" valid="{{groupValid}}">
            <div slot="body" >

                <oj-bind-if test='[[isSelectAction]]'>
                    <h3 data-bind="text: currentStepValueText()"></h3>
                    <div id="train-container">
                        <div class="oj-form">
                            <div class="oj-flex-bar">
                                <div class="oj-flex-bar-start">

                                    <oj-bind-if test='true'>
                                        <oj-button class="apBtn-2" on-oj-action="[[closeDialogEdit]]">
                                            <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                                        </oj-button>
                                    </oj-bind-if>

                                    <oj-bind-if test='[[addBtnVisible]]'>
                                        <oj-button class="apBtn-2" on-oj-action="[[previousStep]]">
                                            <span><oj-bind-text value="[[pervious]]"></oj-bind-text></span>
                                        </oj-button>
                                    </oj-bind-if>

                                </div>
                                <div class="oj-flex-bar-end">

                                    <oj-bind-if test='[[nextBtnVisible]]'>
                                        <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action="[[nextStep]]" disabled="[[currentStepValue() == 'stp2']]">
                                            <span><oj-bind-text value="[[next]]"></oj-bind-text></span>
                                        </oj-button>
                                    </oj-bind-if>

                                    <oj-bind-if test='[[addBtnVisible]]'>
                                        <oj-button class="apBtn-2"
                                                   on-oj-action="[[submitButton]]"
                                                   visible="[[currentStepValue() == 'stp2']]">
                                            <span><oj-bind-text value="[[submit]]"></oj-bind-text></span>
                                        </oj-button>
                                    </oj-bind-if>

                                </div>

                                <div id="dialogWrapper">
                                    <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
                                        <div slot="header" class="oj-helper-clearfix">
                                            <label data-bind="text:confirmMessage "/>
                                        </div>
                                        <div slot="body">
                                            <label data-bind="text:oprationMessage "/>
                                        </div>
                                        <div slot="footer">
                                            <oj-button class="apBtn-2" on-oj-action='[[commitRecord]]'>
                                                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                                            </oj-button>

                                            <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                                                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                                            </oj-button>
                                        </div>
                                    </oj-dialog>
                                </div>
                            </div>
                        </div>

                        <div disabled> 
                            <oj-train id="train"
                                      selected-step="{{currentStepValue}}" steps="[[stepArray]]"
                                      class="oj-train-stretch"
                                      on-oj-before-select="[[stopSelectListener]]"/>
                        </div>

                        <br>
                        <div class="oj-form-layout oj-panel">
                            <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
                                <div class="oj-flex" data-bind="visible:isVisible">
                                    <div class="oj-flex">
                                        <label for="control1" data-bind="text: actionLbl " show-required/>
                                    </div>
                                    <oj-select-one id="v3" disabled='[[isDisabled]]'  value="{{positionModle.action}}"  required="[[isRequired]]"
                                                   placeholder="[[placeholder]]" 
                                                   on-value-changed = "{{actionChangedHandler}}">
                                        <!-- ko foreach: actionsArr -->
                                        <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                                        <!-- /ko -->
                                    </oj-select-one>
                                </div>

                                <div class="oj-flex">
                                    <div class="oj-flex">
                                        <label for="control1" data-bind="text: startDateLbl " show-required/>
                                    </div> 
                                    <oj-input-text id="datePickerStartDate" value="{{positionModle.startDate}}" required="[[isRequired]]">
                                    </oj-input-text>
                                </div>
                                <div class="oj-flex" >
                                    <div class="oj-flex">
                                        <label for="control1" data-bind="text: endDateLbl " show-required/>
                                    </div>
                                    <oj-input-text id="datePickerEndDate" value="{{positionModle.endDate}}" required="[[isRequired]]">
                                    </oj-input-text>
                                </div><!--islamic date-->
                                <div class="oj-flex">
                                    <div class="oj-flex">
                                        <label for="firstName"  data-bind="text: classificationSymbolLbl "show-required/>
                                    </div>
                                    <oj-select-one id="v9" disabled='[[isDisabledTaxonomicCode]]' required value="{{positionModle.taxonomicCode}}"
                                                   placeholder="[[placeholder]]">
                                        <!-- ko foreach: jobCodeArr -->
                                        <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                                        <!-- /ko -->
                                    </oj-select-one>
                                </div>
                                <div class="oj-flex">
                                    <div class="oj-flex">
                                        <label for="personNumber" data-bind="text: rankedLbl "show-required/>
                                    </div>
                                    <oj-select-one id="v4" disabled='[[isDisabledRanked]]' required="[[isRequired]]" value="{{positionModle.ranked}}" placeholder="[[placeholder]]">
                                        <!-- ko foreach: gradeArr -->
                                        <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                                        <!-- /ko -->
                                    </oj-select-one>
                                </div>
                                <div class="oj-flex">
                                    <div class="oj-flex">
                                        <label for="personNumber" data-bind="text: positionNumberLbl  "show-required/>
                                    </div>
                                    <oj-input-number id="v5" disabled='[[isDisabledPositionNumber]]' required="[[isRequired]]" 
                                                     value="{{positionModle.positionNumber}}">
                                    </oj-input-number>
                                </div>
                                <div class="oj-flex">
                                    <div class="oj-flex">
                                        <label for="personNumber" data-bind="text: positionDepartmentLbl "show-required/>
                                    </div>
                                    <oj-select-one id="v7" disabled='[[isDisabledManaginge]]' required="[[isRequired]]" value="{{positionModle.managing}}" placeholder="[[placeholder]]">
                                        <!-- ko foreach: orgnizationArr -->
                                        <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                                        <!-- /ko -->
                                    </oj-select-one>
                                </div>
                                <div class="oj-flex">
                                    <div class="oj-flex">
                                        <label for="personNumber" data-bind="text: labeledPositionLbl "show-required/>
                                    </div>
                                    <oj-select-one id="v6" disabled='[[isDisabledPositionName]]' required="[[isRequired]]" value="{{positionModle.positionName}}" placeholder="[[placeholder]]"
                                                   >
                                        <!-- ko foreach: positionNameArr -->
                                        <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                                        <!-- /ko -->
                                    </oj-select-one>
                                </div>
                                </oj-validation-group>
                            </div>
                        </div>

                    </div>   
                </oj-bind-if>
            </div>
    </oj-dialog>
</div>

<div id="componentDemoContent">
    <div id="dialogWrapper"  >
        <oj-dialog class="main-dialog effective-dialog" id="effictiveDateDialog" >
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text:effectiveDate"/>
            </div>
            <div class="oj-flex" >
                <div class="oj-flex">
                    <label for="control1" data-bind="text: effectiveDate" show-required/>
                </div>
                <oj-input-text id="datePickerStartDate1" value="{{dateEffictive}}">
                </oj-input-text>
            </div>

            <div class="oj-flex" >
                <div class="oj-flex">
                    <label for="control1" data-bind="text: todayDay " show-required/>
                </div>
                <oj-input-text id="datePickerStartDate2" value="{{currentDate}}" disabled="true" >
                </oj-input-text>

            </div>
            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[closeDialogDate]]'>
                    <span><oj-bind-text value="[[ok]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" on-oj-action='[[closeCancelDialog]]'>
                    <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" on-oj-action='[[restEffectiveDate]]'>
                    <span><oj-bind-text value="[[resetLabel]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>


</div>

<div id="dialogWrapper">
    <oj-dialog class="main-dialog main-dialog-width"
               id="ValidDate">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text:confirmMessage "/>
        </div>
        <div slot="body">
            <label data-bind="text:DateValidMessage "/>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[cancelValidDateButton]]'>
                <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>
</div>

<div id="dialogWrapper">
    <oj-dialog class="main-dialog main-dialog-width"
               id="CloseEditPopup">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text:confirmMessage "/>
        </div>
        <div slot="body">
            <label data-bind="text:CancelDialogMessage "/>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[YesCancelDialogButton]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2" on-oj-action='[[NoCancelDialogButton]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>
</div>