<div class="oj-form-layout oj-panel">
    <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline" oj-md-labels-inline>

        <div class="oj-flex">
            <div class="oj-flex-item">
                <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                    <span data-bind="text:backBtnLbl"></span>
                    <span slot='endIcon' class="apiconClass fa fa-arrow-circle-left"></span>

                </oj-button>

                <oj-button class="apBtn-2" on-oj-action='[[btnAddSummary]]'>
                    <span data-bind="text:addBtnLbl"></span>
                    <span slot='endIcon' class="apiconClass fa fa-plus"></span>

                </oj-button>
                <oj-button class="apBtn-2" on-oj-action='[[reset]]'>
                    <span data-bind="text:clearBtnLbl"></span>
                </oj-button>

            </div> 

        </div>
    </div>


    <div>
        <oj-table id='table' aria-label='Departments Table'
                  class='apTable-1'
                  data='[[dataSource]]'
                  selection-mode='{"row": "multiple", "column": "multiple"}'
                  dnd='{"reorder": {"columns": "enabled"}}'
                  scroll-policy-options='{"fetchSize": 10}'
                  columns='[[columnArray]]'
                  on-oj-before-current-row = "[[tableSelectionListener]]"
                  display = "grid">
            <oj-paging-control id="paging" data='[[dataSource]]' page-size='5' slot='bottom' class='apPaging-1'>
            </oj-paging-control>

        </oj-table>
    </div>

</div>





