<h1 class="header_headline_style animated fadeInUp"> <span><oj-bind-text value="[[personSearch]]"></oj-bind-text></span></h1>
<div class="request_body_styling animated fadeInUp">
    <div class="oj-form-layout">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">

            <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label for="firstName" data-bind="text: name"/>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="text-input" value="{{searchModel.name}}"></oj-input-text>
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item" >
                        <label for="personnumber" data-bind="text: personnumber"/>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="text-input" value="{{searchModel.PersonNumber}}"></oj-input-text>
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label for="nationalId" data-bind="text: nationalId"/>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="text-input" value="{{searchModel.nationalId}}"></oj-input-text>
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label for="effictiveDate" data-bind="text: effictiveDate"/>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-date id="date" value='{{searchModel.effectiveDate}}'> </oj-input-date>
                    </div>

                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item" align="right">

                        <oj-button class="apBtn-2" on-oj-action='[[searchPerson]]'>
                            <span><oj-bind-text value="[[searchLbl]]"></oj-bind-text></span>
                        </oj-button>

                        <oj-button class="apBtn-2" on-oj-action='[[reset]]'>
                            <span><oj-bind-text value="[[clearLbl]]"></oj-bind-text></span>
                        </oj-button>

                    </div>
                </div>

            </div>

        </div>

        <div class="oj-flex">
            <div class="oj-flex-item">

                <oj-select-one id="selfService" on-value-changed="[[PersonChangeHandler]]" value="{{selfServiceType}}"
                               options="{{EITCodeArr}}">
                </oj-select-one>

            </div>
            <div class="oj-flex-item">
                <oj-button class="apBtn-2" on-oj-action='[[gotoSelfService]]' disabled="{{editDisabled}}" style="margin-top:0;">
                    <span><oj-bind-text value="[[goTo]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </div>

        <div>
            <oj-table class="apTable-1"  id='table' aria-label='Departments Table'
                      data='[[dataSource]]'
                      selection-mode='{"row": "multiple", "column": "multiple"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      scroll-policy-options='{"fetchSize": 10}'
                      columns='[[columnArray]]'
                      on-oj-before-current-row="[[tableSelectionListener]]"
                      display="grid">
                <oj-paging-control id="paging" data='[[dataSource]]' page-size='10' slot='bottom' class="apPaging-1 display-inline-flex">
                </oj-paging-control>
            </oj-table>

        </div>

    </div>
</div>