<div class="request_body_styling animated fadeInUp">
    <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">

        <div class="oj-flex">
            <div>
                <oj-combobox-one id="search" filter-on-open="rawValue"
                                 value="{{searchval}}" data-bind="attr: { 'placeholder': searchLable }">
                    
                    <a slot="end" id="search-button" class="demo-search-button oj-fwk-icon-magnifier oj-fwk-icon oj-clickable-icon-nocontext"
                       role="button" aria-label="search" data-bind="text:Search" on-click="[[search]]"></a>

                </oj-combobox-one> 
            </div>
        </div>
        
        </br>

        <div id="form-container" class="row">
            <div class="btn_row_st" align="center">
                <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                    <span><oj-bind-text value="[[backActionLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-arrow-circle-left"></span>
                </oj-button>
                <oj-button class="apBtn-2" on-oj-action='[[btnAdd]]'>
                    <span><oj-bind-text value="[[addLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                </oj-button>

                <oj-button disabled="{{isDisable}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[btnEdit]]'>
                    <span><oj-bind-text value="[[editLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                </oj-button>

                <oj-button disabled="{{isDisable}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[btnView]]'>
                    <span><oj-bind-text value="[[viewLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                </oj-button>

                <oj-button class="apBtn-2" on-oj-action='[[btnRest]]'>
                    <span><oj-bind-text value="[[RestLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                </oj-button>

            </div>
        </div>

        <div>
            <oj-table class='apTable-1' id='table' aria-label='Departments Table'
                      data='[[dataSource]]'
                      selection-mode='{"row": "multiple", "column": "multiple"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      scroll-policy-options='{"fetchSize": 10}'
                      columns='[[columnArray]]'
                      on-oj-before-current-row = "[[tableSelectionListener]]"
                      display = "grid">
                <oj-paging-control id="paging" data='[[dataSource]]' page-size='5' slot='bottom' class='apPaging-1'>
                </oj-paging-control>

            </oj-table>

        </div>

    </div>
</div>