<div><oj-messages position="{}" display="general" messages="[[validationMessagesProvider]]"></oj-messages></div>
<div id="train-container" class="request_body_styling animated fadeInUp">
    <h1 class="header_headline_style"><span> <oj-bind-text value="[[reportTitleLabl]]" ></oj-bind-text> </span></h1>

    <div class="oj-form">
        <div class="oj-flex-bar">
            <div class="oj-flex-bar-start">

                <oj-button class="apBtn-2" data-bind="visible: hidecancel"
                           on-oj-action="[[cancelAction]]">
                    <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" data-bind="visible: hidepervious"
                           on-oj-action="[[previousStep]]">
                    <span><oj-bind-text value="[[pervious]]"></oj-bind-text></span>
                </oj-button>

            </div>
            <div class="oj-flex-bar-end">

                <oj-button class="apBtn-2" data-bind="visible: hidenext"
                           on-oj-action="[[nextStep]]">
                    <span><oj-bind-text value="[[next]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" data-bind="visible: hidesubmit"
                           on-oj-action="[[submitButton]]"
                           visible="[[currentStepValue() == 'stp2']]">
                    <span><oj-bind-text value="[[submit]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" data-bind="visible: hideUpdatesubmit"
                           on-oj-action="[[submitUpdateButton]]"
                           visible="[[currentStepValue() == 'stp2']]">
                    <span><oj-bind-text value="[[submit]]"></oj-bind-text></span>
                </oj-button>
            </div>

        </div>
    </div>
  <h3 id="currentStepText" data-bind="text: currentStepValueText()"></h3>
    <div> 
        <oj-train id="train"  data-bind="visible: trainVisible"
                  selected-step="{{currentStepValue}}" steps="[[stepArray]]"  
                  class="oj-train-stretch"
                  on-oj-before-select="[[stopSelectListener]]"/>
    </div>

    <br>
      <div class="oj-flex">
                <div class="oj-flex">
                    <label data-bind="text: reportTitleLabl"/>
                </div>
                
       </div>
    <div class="oj-form-layout oj-panel">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
            
            <oj-validation-group id="tracker" valid="{{groupValid}}">
           
                <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">

            <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label for="EffectiveStartDate" data-bind="text: EffectiveStartDateLBl"/>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-date converter=[[dateConverter]]  min="{{statMinValue}}"  class="disable-element" disabled='[[isDisabled]]' required="[[isRequired]]" value="{{searchModel.EffectiveStartDateVal}}"></oj-input-date>
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item" >
                        <label for="EffectiveEnddate"  data-bind="text: EffectiveEnddateLBL"/>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-date converter=[[dateConverter]] min="{{searchModel.EffectiveStartDateVal}}"  class="disable-element" disabled='[[isDisabled]]' required="[[isRequired]]" value="{{searchModel.EffectiveEnddateVal}}"></oj-input-date>
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label for="personNumber" data-bind="text: personNumberLbl"/>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text class="disable-element" disabled='[[isDisabled]]' required="[[isRequired]]" value="{{searchModel.personNumberVal}}"></oj-input-text>
                    </div>
                </div>

            </div>

        </div>

            </oj-validation-group>
    
        </div>
    </div>
    
        <div class="oj-flex">
          
            <div class="oj-flex-item">
                <oj-button class="apBtn-2" on-oj-action='[[SearchBTn]]'>
                    <span><oj-bind-text data-bind="text:searchLbl"></oj-bind-text></span>
                </oj-button>
            </div>
        </div>
        <oj-table class="apTable-1"  id='table' aria-label='Departments Table'
                      data='[[dataSource]]'
                      selection-mode='{"row": "multiple", "column": "multiple"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      scroll-policy-options='{"fetchSize": 10}'
                      columns='[[columnArray]]'
                      on-oj-before-current-row="[[tableSelectionListener]]"
                      display="grid">
                <oj-paging-control id="paging" data='[[dataSource]]' page-size='10' slot='bottom' class="apPaging-1 display-inline-flex">
                </oj-paging-control>
            </oj-table>
    
    <div id="dialogWrapper">
        <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text: confirmMessage"/>
            </div>
            <div slot="body">
                <label data-bind="text: oprationMessage"/>
            </div>
            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[commitRecord]]'>
                    <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                    <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>
    <div id="dialogWrapper">
        <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialogUpdate">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text:confirmMessage "/>
            </div>
            <div slot="body">
                <label data-bind="text:oprationMessageUpdate"/>
            </div>
            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[commitRecordupdate]]'>
                    <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" on-oj-action='[[cancelButtonupdate]]'>
                    <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>
</div>