<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div id="form-container" class="request_body_styling animated fadeInUp">
    <div class="oj-form">
        <div class="oj-flex-bar">
            <div class="oj-flex-bar-start">

                <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                    <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[previousStep]]' disabled="[[currentStepValue() == 'stp1']]">
                    <span><oj-bind-text value="[[backLbl]]"></oj-bind-text></span>
                </oj-button>

            </div>
            <div class="oj-flex-bar-end">
                <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[nextStep]]' data-bind="visible: nextBtnVisible" disabled="[[currentStepValue() == 'stp2']]">
                    <span><oj-bind-text value="[[nextLbl]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[submitButton]]' data-bind="visible: addBtnVisible">
                    <span><oj-bind-text value="[[submitLbl]]"></oj-bind-text></span>
                </oj-button>

                <div id="sampleDemo" class="demo-padding demo-container"></div>
                <div id="dialogWrapper">
                    <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
                        <div slot="header" class="oj-helper-clearfix">
                            <label data-bind="text: confirmMessage"></label>
                        </div>

                        <div slot="body">
                            <label data-bind="text: oprationMessage"></label>
                        </div>
                        <div slot="footer">
                            <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[commitRecord]]'>
                                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                            </oj-button>

                            <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[cancelButton]]'>
                                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                            </oj-button>
                        </div>
                    </oj-dialog>
                </div>
                <div id="dialogWrapper">
                    <oj-dialog class="main-dialog main-dialog-width" id="NoDialog">
                        <div slot="header" class="oj-helper-clearfix">
                            <label  data-bind="text: confirmMessage"></label>
                        </div>

                        <div slot="body">
                            <label data-bind="text: validationMessage"></label>
                        </div>
                        <div slot="footer">
                            <oj-button class="apBtn-2" on-oj-action='[[cancelButtonDialog]]'>
                                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                            </oj-button>
                        </div>
                    </oj-dialog>
                </div>
            </div>
        </div>
    </div>
    <div id="train-container">
        <div>
            <oj-train id="train"
                      selected-step="{{currentStepValue}}" steps="[[stepArray]]"
                      class="oj-train-stretch"
                      on-oj-before-select="[[stopSelectListener]]"/>
        </div>

        <br/>

        <h3 id="currentStepText" data-bind="text: currentStepValueText()"></h3>
        <div class="oj-form-layout">
            <oj-validation-group id="tracker" valid="{{groupValid}}">
                <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                    <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations">
                        <div class="oj-flex-item">
                            <label for="eitName" data-bind="text: eitCodeLbl "/>
                        </div>
                        <div class="oj-flex-item">

                            <oj-select-one id="select" required="[[isRequired]]" 
                                           placeholder="[[placeholder]]"
                                           value="{{approvalSetupModel.eitCode}}"
                                           on-value-changed = "{{eitCodeChangedHandler}}"
                                           disabled="true"
                                           options="{{EitNameArr}}"
                                           >
                            </oj-select-one>
                        </div>
<!--                        <div class="oj-flex-item">
                            <label for="eitName" data-bind="text: approvalOrderLbl "/>
                        </div>-->
<!--                        <div class="oj-flex-item">
                            <oj-input-number id="eitName" 
                                             value="{{approvalSetupModel.approvalOrder}}"
                                             autocomplete="off"
                                             label-hint="Percentage  "
                                             disabled="true">     
                            </oj-input-number> 
                        </div>-->
                        <div class="oj-flex-item">
                            <label for="eitName" data-bind="text: approvalTypeLbl "/>
                        </div>
                        <div class="oj-flex-item">

                            <oj-select-one id="select" required="[[isRequired]]" 
                                           placeholder="[[placeholder]]"
                                           value="{{approvalSetupModel.approvalType}}" 
                                           on-value-changed = "{{approvalTypeChangedHandler}}"
                                           disabled="{{isDisabled}}"
                                           options="[[approvalTypeArr]]" >
                            </oj-select-one>
                        </div>
                        <div class="oj-flex-item" data-bind="visible:isVisibleRoleName">
                            <label for="eitName" data-bind="text: roleNameLbl "/>
                        </div>
                        <div class="oj-flex-item" data-bind="visible:isVisibleRoleName">
                            <oj-select-one id="eitName" required="[[isRequiredRoleName]]" 
                                           placeholder="[[placeholder]]"
                                           value="{{approvalSetupModel.roleName}}"
                                           on-value-changed = "{{roleNameChangedHandler}}"
                                           label-hint="Percentage  "
                                           disabled="{{isDisabled}}"
                                           options="[[roleOptionType]]"
                                           >
                            </oj-select-one>



                        </div>
                        <div class="oj-flex-item"  data-bind="visible:isVisibleSpecialCase">
                            <label for="eitName" data-bind="text: specialCaseLbl "/>
                        </div>
                        <div class="oj-flex-item"  data-bind="visible:isVisibleSpecialCase">
                            <oj-input-text id="eitName" 
                                           value="{{approvalSetupModel.specialCase}}"
                                           autocomplete="off"
                                           label-hint="Percentage  "
                                           disabled="{{isDisabled}}"
                                           required="[[isRequiredSpecialCase]]">     
                            </oj-input-text> 
                        </div>
                        
                        
                        <!--Roles Add BY Mohamed Yasser //Start-->
                         
                          <div class="oj-flex-item"  data-bind="visible: isVisibleRoles">
                              <label for="eitName" data-bind="text: rolesLbl "/>
                          </div>
                          <div class="oj-flex-item"  data-bind="visible: isVisibleRoles">
                              
                              <oj-select-one id="eitName" required="[[isRequiredRoles]]" 
                                             placeholder="[[placeholder]]"
                                             value="{{approvalSetupModel.roleName}}" 
                                             on-value-changed = "{{roleNameChangedHandler}}"
                                             label-hint="Percentage  "
                                             disabled="{{isDisabled}}"
                                             options="[[rolesOption]]"
                                             >
                              </oj-select-one>
                          </div>
                          
                          <!--Roles Add BY Mohamed Yasser //End-->

                        
                        
                        <div class="oj-flex-item">
                            <label for="eitName" data-bind="text: notificationTypeLbl "/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-select-one id="select" required="[[isRequired]]" 
                                           placeholder="[[placeholder]]"
                                           value="{{approvalSetupModel.notificationType}}"
                                           disabled="true"
                                           options="[[notificationTypeArr]]"
                                           >

                            </oj-select-one>

                        </div>
                          
                          <div class="oj-flex-item">
                                <label show-required data-bind="text: reasonforReassignLbl"/>
                            </div>
                            <div class="oj-flex-item">
                                <oj-input-text 
                                    required="[[isRequired]]"
                                    value="{{approvalListModel.reasonforReassign}}"
                                    autocomplete="off"
                                    disabled="{{isDisabled}}"> 
                                </oj-input-text>
                            </div>


                    </div>


                </div>
            </oj-validation-group>
        </div>
    </div>

</div>
