<h1 class="header_headline_style"><span> <oj-bind-text value="[[approvalManagmentLbl]]"></oj-bind-text> </span></h1>

<div class="request_body_styling animated fadeInUp ">
    <div id="train-container">

        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">

            <div class="form-row">
                <div class="form-group col-md-6 srjob-col-pad">

                    <label for="firstName" data-bind="text: eitNameLbl"/>
                    <oj-select-one id="select" class="form-control" required="[[isRequired]]" 
                                   placeholder="[[placeholder]]"
                                   value="{{selctedStruct}}"
                                   on-value-changed = "{{structureChangedHandler}}"
                                   options="{{EitName}}">
                    </oj-select-one>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 srjob-col-pad">

                        <label for="firstName"  data-bind="text: approvalTypeLbl "/>
                        <oj-select-one id="select" class="form-control" required="[[isRequired]]" 
                                       placeholder="[[placeholder]]"
                                       value="{{selctedApprovalType}}"
                                       options="{{ApprovalTypeOption}}">
                        </oj-select-one>
                    </div>
                </div>
            </div>
            <hr>
            <br>

            <div class="oj-form-layout">
                <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
                    <div id="form-container" class="row">
                        <div class="btn_row_st">
                            <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                                <span><oj-bind-text value="[[backActionLbl]]"></oj-bind-text></span>
                                <span slot='endIcon' class="apiconClass fa fa-arrow-circle-left"></span>
                            </oj-button>
                            <oj-button class="apBtn-2" on-oj-action='[[addAdditionalDetails]]'>
                                <span><oj-bind-text value="[[addLbl]]"></oj-bind-text></span>
                                <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                            </oj-button>

                            <oj-button class="apBtn-2" on-oj-action='[[searchBtn]]'>
                                <span><oj-bind-text value="[[searchLbl]]"></oj-bind-text></span>
                                <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                            </oj-button>

                            <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[editBtn]]' disabled="[[isDisable]]">
                                <span><oj-bind-text value="[[editLbl]]"></oj-bind-text></span>
                                <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                            </oj-button>
                            
                             <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[deleteBtn]]'disabled="[[isDisable]]">
                            <span><oj-bind-text value="[[deleteLbl]]"></oj-bind-text></span>
                            <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                        </oj-button>

                        </div>
                    </div>
                </div>
            </div>

            <br/>

            <div class="oj-sm-12 oj-flex-item">
<!--                <oj-table id='table' class='apTable-1' aria-label='id'
                          data='[[dataprovider]]' 
                          selection-mode='{"row": "multiple", "column": "multiple"}'
                          dnd='{"reorder": {"columns": "enabled"}}'
                          scroll-policy='loadMoreOnScroll'
                          scroll-policy-options='{"fetchSize": 10}'
                          columns='[[columnArray]]'
                          display = "grid"
                          on-oj-before-current-row = "[[tableSelectionListener]]">
                </oj-table>-->
       <oj-table id='table' aria-label='Departments Table'
                      class='apTable-1'
                      data='[[dataprovider]]'
                      selection-mode='{"row": "multiple", "column": "multiple"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      scroll-policy-options='{"fetchSize": 10}'
                      columns='[[columnArray]]'
                      on-oj-before-current-row = "[[tableSelectionListener]]"
                      display = "grid">
               

            </oj-table>

               
            </div>

        </div>
    </div>

    <div id="componentDemoContent">
        <div id="dialogWrapper">
            <oj-dialog class = "oj-dialog-content oj-dialog-default-content" id="modalDialog1" >
                <div slot="header" class="oj-helper-clearfix">
                    <label  data-bind="text:historyDetails "/>
                </div>
                <div slot="body">
<!--                    <oj-table id="tbl12" class='apTable-1' aria-label="Approvals Table"
                              data='[[dataSourceTB2]]'
                              display = "grid"
                              selectionMode = "{'row': 'single'}"
                              columns-default='{"sortable": "enabled"}'
                              dnd='{"reorder": {"columns": "enabled"}}'
                              columns='{{columnArray}}'>
                    </oj-table>                -->
                </div>
                <div slot="footer">
                    <oj-button class="apBtn-2" on-oj-action='[[closeDialog]]'>
                        <span><oj-bind-text value="[[ok]]"></oj-bind-text></span>
                    </oj-button>
                </div>
            </oj-dialog>
        </div>
    </div>

    <div id="dialogWrapper">
        <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text:confirmMessage "/>
            </div>
            <div slot="body">
                <label data-bind="text:oprationMessage "/>
            </div>
            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[commitRecord]]'>
                    <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                    <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>

    <div id="dialogWrapper">
        <oj-dialog class="main-dialog main-dialog-width" id="ValidationDialog">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text:confirmMessage "/>
            </div>
            <div slot="body">
                <label data-bind="text:ValidationMessage "/>
            </div>
            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[cancelButtonValid]]'>
                    <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>
</div>