<h1 class="header_headline_style"><span> <oj-bind-text value="[[approvalManagmentLbl]]"></oj-bind-text> </span></h1>

<div class="request_body_styling animated fadeInUp">
    <div id="train-container">

        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">

            <div class="form-row">
                <div class="form-group col-md-6 srjob-col-pad">

                    <label for="firstName" data-bind="text: eitNameLbl "/>

                    <oj-select-one id="select" class="form-control" required="[[isRequired]]" 
                                   placeholder="[[placeholder]]"
                                   value="{{selctedStruct}}"
                                   on-value-changed="{{structureChangedHandler}}"
                                   options="{{EitName}}">
                    </oj-select-one>
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-6 srjob-col-pad">

                    <label for="firstName" data-bind="text: approvalTypeLbl"/>

                    <oj-select-one id="select" class="form-control" required="[[isRequired]]" 
                                   placeholder="[[placeholder]]"
                                   value="{{selctedApprovalType}}"
                                   on-value-changed = "{{structureChangedHandlerApprovalType}}"
                                   options="{{ApprovalTypeOption}}">
                    </oj-select-one>
                </div>

            </div>
            <div class="oj-form-layout">
                <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
                    <div id="form-container" class="row">
                        <div class="btn_row_st" align="center">

                            <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                                <span><oj-bind-text value="[[backLbl]]"></oj-bind-text></span>
                            </oj-button>

                            <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[addApprovalManagement]]' disabled="[[isDisable]]">
                                <span><oj-bind-text value="[[addLbl]]"></oj-bind-text></span>
                                <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                            </oj-button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <br>
    <br/>
    <div>
        <oj-table id='tablew' class='apTable-1' aria-label='Departments Table' 
                  data='[[dataprovider]]' as='cell'
                  selection-mode='{"row": "multiple", "column": "multiple"}'
                  dnd='{"reorder": {"columns": "enabled"}}'
                  scroll-policy='loadMoreOnScroll'
                  scroll-policy-options='{"fetchSize": 10}'
                  columns='[[columnArray]]'
                  display="grid"
                  on-oj-before-current-row="[[tableSelectionListener]]">

            <template slot="hideTemplate">
                <oj-checkboxset id="cs2" on-value-changed='[[checkboxListenerHide]]'>
                    <oj-option value="true"></oj-option>
                </oj-checkboxset>
            </template>
            <template slot="enableTemplate">
                <oj-checkboxset id="cs2" on-value-changed='[[checkboxListenerEnable]]'>
                    <oj-option value="true"></oj-option>
                </oj-checkboxset>
            </template>
             <template slot="requiredTemplate">
                <oj-checkboxset id="cs2" on-value-changed='[[checkboxListenerRequired]]'>
                    <oj-option value="true"></oj-option>
                </oj-checkboxset>
            </template>
        </oj-table>

    </div>

    <div id="dialogWrapper">
        <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text: confirmMessage"/>
            </div>
            <div slot="body">
                <label data-bind="text: oprationMessage"/>
            </div>
            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[commitRecord]]'>
                    <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                </oj-button>
                
                <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                    <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>

</div>
