<h1 class="header_headline_style animated fadeInUp"> <span><oj-bind-text value="[[review]]"></oj-bind-text></span></h1>
<div class="request_body_styling animated fadeInUp">

    <div>
        <div class="oj-flex oj-sm-margin-2x demo-panel-customizations">

            <div class="form-row">
                <div class="form-group col-md-6 srjob-col-pad" >

                    <label for="firstName" data-bind="text: eitNameLbl"/>

                    <oj-select-one class="form-control" id="select" placeholder="[[placeholder]]"
                                   value="{{selctedStruct}}"
                                   options="{{EitName}}">
                    </oj-select-one>
                </div>

                <div class="form-group col-md-6 srjob-col-pad">
                    <label for="firstName"  data-bind="text: notificationTypeLbl "/>
                    <oj-select-one class="form-control"  id="select" placeholder="[[placeholder]]"
                                   value="{{selctedEITType}}"
                                   options="{{notificationTypeArr}}" >
                    </oj-select-one>
                </div>
                
           
            </div>

            <div class="form-row">

                <div class="form-group col-md-6 srjob-col-pad" >
                    <label for="positionNumber" data-bind="text: RequesterNumberLbl "/>
                    <oj-input-text class="form-control" id="text-input" value="{{RequesterNumber}}"></oj-input-text>        
                </div>
                
                       <div class="form-group col-md-6 srjob-col-pad">
                    <label for="firstName"  data-bind="text: notificationActionLbl "/>
                    <oj-select-one class="form-control"  id="select" placeholder="[[placeholder]]"
                                   value="{{selctedEITType2}}"
                                   options="{{notificationActionArr}}" >
                    </oj-select-one>
                </div>
                
                <div class="form-group col-md-6 srjob-col-pad" >
                    <label for="positionNumber" data-bind="text: nationalityIdentityLbl "/>
                    <oj-input-text class="form-control" id="text-input" value="{{nationalityIdentityVal}}"></oj-input-text>        
                </div>
            </div>

        </div>

        <br/>
        <div class="oj-flex">
            <div>
                <div class="btn_row_st" align="center">
                    <oj-button class="apBtn-2" on-oj-action='[[searchPerson]]'>
                        <span><oj-bind-text value="[[search]]"></oj-bind-text></span>
                    </oj-button>
                    
                    <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[showReview]]'>
                        <span><oj-bind-text value="[[view]]"></oj-bind-text></span>
                    </oj-button>
                    
                <oj-button disabled="{{disableSubmit}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[submitButton]]'>
                        <span><oj-bind-text value="[[approve]]"></oj-bind-text></span>
                    </oj-button>
                    
                    <oj-button disabled="{{disableSubmit}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[rejectButton]]'>
                        <span><oj-bind-text value="[[reject]]"></oj-bind-text></span>
                    </oj-button>
                </div>
            </div>
        </div>

    </div>
    <div>
        <oj-table id='table'
                  class="apTable-1"
                  aria-label='Table'
                  data='[[dataSource]]'
                  selection-mode='{"row": "single", "column": "single"}'
                  dnd='{"reorder": {"columns": "enabled"}}'
                  scroll-policy-options='{"fetchSize": 10}'
                  columns='[[columnArray]]'
                  display = "grid"
                  on-oj-before-current-row = "[[tableSelectionListener]]">
            <oj-paging-control id="paging" data='[[dataSource]]' page-size='5' slot='bottom' class="apPaging-1 display-inline-flex">
            </oj-paging-control>

        </oj-table>
    </div>
                <div id="sampleDemo" class="demo-padding demo-container">
                <div id="componentDemoContent">
                    <div id="dialogWrapper">
                        <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
                            <div slot="header" class="oj-helper-clearfix">
                                <label data-bind="text: confirmMessage "/>
                            </div>
                            <div slot="body">     
                                <label data-bind="text: approveMessage "/>              
                            </div>
                            <div slot="footer">
                                <oj-button disabled="{{disableSubmit}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[approveRequst]]'>
                                    <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                                </oj-button>

                                <oj-button disabled="{{disableSubmit}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[cancelButton]]'>
                                    <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                                </oj-button>
                            </div>
                        </oj-dialog>

                        <oj-dialog class="main-dialog main-dialog-width" id="rejectDialog">
                            <div slot="header" class="oj-helper-clearfix">
                                <label data-bind="text:confirmMessage "/>
                            </div>
                            <div slot="body">     
                                <label data-bind="text:rejectMessage"/>              
                            </div>
                            <div slot="footer">
                                <oj-button disabled="{{disableSubmit}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[rejectRewaardRequst]]'>
                                    <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                                </oj-button>

                                <oj-button disabled="{{disableSubmit}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[rejectCancelButton]]'>
                                    <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                                </oj-button>
                            </div>
                        </oj-dialog>
                    </div>
                </div>
            </div>

</div>