<h1 class="header_headline_style"><span> <oj-bind-text value="[[actualPosition]]"></oj-bind-text> </span></h1>
<div id="train-container">

    <div class="oj-form-layout">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
            <div class="form-row">
                <div class="form-group col-md-6 srjob-col-pad" >
                    <oj-label for="positionName">
                        <!-- ko text: positionNameLbl --><!-- /ko -->
                    </oj-label>

                    <oj-select-one class="form-control"  required="[[isRequired]]" 
                                   placeholder="[[placeholder]]"
                                   value="{{ministryPositionbSearch.positionName}}"
                                   on-value-changed = "{{positionNameChangedHandler}}">
                        <!-- ko foreach: positionNameArr -->
                        <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                        <!-- /ko -->
                    </oj-select-one>

                </div>

            </div>   

            <div class="form-row">
                <div class="form-group col-md-6 srjob-col-pad" >

                    <oj-label for="classificationSymbol">
                        <!-- ko text: familyjobLbl --><!-- /ko -->
                    </oj-label>

                    <oj-select-one class="form-control" id="select" required="[[isRequired]]" 
                                   value="{{ministryPositionbSearch.familyJob}}"
                                   on-value-changed = "{{rankedChangedHandler}}">
                        <!-- ko foreach: jobCodeArr -->
                        <oj-option value="[[value]]"><span data-bind="text: description"></span></oj-option>
                        <!-- /ko -->
                    </oj-select-one>


                </div>
            </div>

            <div class="form-row">

                <div class="form-group col-md-6 srjob-col-pad">
                    <oj-label for="classificationSymbol"><!-- ko text: positionNumberLbl --><!-- /ko --></oj-label>
                    <oj-input-number class="form-control" value="{{ministryPositionbSearch.postionNumber}}" min='0'></oj-input-number>

                </div>
            </div>   

            <div class="form-row">
                <div class="form-group col-md-6 srjob-col-pad">

                    <oj-label for="personNumber"><!-- ko text: managing --><!-- /ko --></oj-label>

                    <oj-select-one id="select" disabled='[[isDisabled]]' required="[[isRequired]]" value="{{positionModle.managing}}" 
                                   class="form-control" placeholder="[[placeholder]]">
                        <!-- ko foreach: orgnizationArr -->
                        <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                        <!-- /ko -->
                    </oj-select-one>
                </div>
            </div>


            <div class="row">
                <div class="btn_row_st" align="center">

                    <oj-button class="apBtn-2 apBtn-disabled-2" disabled="{{searchdisabled}}" on-oj-action='[[searchPerson]]'>
                        <span><oj-bind-text value="[[search]]"></oj-bind-text></span>
                    </oj-button>

                    <oj-button class="apBtn-2 apBtn-disabled-2" disabled="{{cleardisabled}}" on-oj-action='[[reset]]'>
                        <span><oj-bind-text value="[[clear]]"></oj-bind-text></span>
                    </oj-button>

                </div>
            </div>



            <div id="form-container" class="row">
                <div class="btn_row_st">

                    <oj-button class="apBtn-2" on-oj-action='[[addJob]]'>
                        <span><oj-bind-text value="[[addLbl]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                    </oj-button>  

                    <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[updateJob]]'>
                        <span><oj-bind-text value="[[editLbl]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                    </oj-button>

                    <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[viewJob]]'>
                        <span><oj-bind-text value="[[view]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                    </oj-button>

                    <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[openDialog]]'>
                        <span><oj-bind-text value="[[historyLbl]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-eye"></span>
                    </oj-button>

                    <oj-button class="apBtn-2" on-oj-action='[[openEffectiveDate]]'>
                        <span><oj-bind-text value="[[effectiveDate]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-eye"></span>
                    </oj-button>            

                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-edit-for-scroll"> 
        <oj-table id='table' class='apTable-1' aria-label='Departments Table'
                  data='[[dataSource]]'
                  selection-mode='{"row": "single", "column": "single"}'
                  dnd='{"reorder": {"columns": "enabled"}}'
                  scroll-policy-options='{"fetchSize": 10}'
                  columns='[[columnArray]]'
                  display = "grid"
                  on-oj-before-current-row = "[[tableSelectionListener]]">
            <oj-paging-control class='apPaging-1' id="paging" data='[[dataSource]]' page-size='10' slot='bottom' class="display-inline-flex">
            </oj-paging-control>
        </oj-table> 

    </div>

</div>
<div id="componentDemoContent">
    <div id="dialogWrapper">
        <oj-dialog class="oj-dialog-content oj-dialog-default-content main-dialog" id="modalDialog1">
            <div slot="header" class="oj-helper-clearfix">
                <oj-label><!-- ko text: historyDetails --><!-- /ko --></oj-label>
            </div>
            <div slot="body">
                <oj-table id="tbl12" class='apTable-1' aria-label="Approvals Table"
                          data='[[dataSourceTB2]]'
                          display = "grid"
                          selectionMode = "{'row': 'single'}"
                          columns-default='{"sortable": "enabled"}'
                          dnd='{"reorder": {"columns": "enabled"}}'
                          columns='{{columnArray1}}'>
                </oj-table>                
            </div>
            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[closeDialog]]'>
                    <span><oj-bind-text value="[[ok]]"></oj-bind-text></span>
                </oj-button>   

            </div>
        </oj-dialog>
    </div>

</div>


<div id="componentDemoContent">
    <div id="dialogWrapper">
        <oj-dialog class="oj-dialog-content oj-dialog-default-content main-dialog" id="editDialog1">
            <div slot="header" class="oj-helper-clearfix">
                <oj-label><!-- ko text: EditDialogPopup --><!-- /ko --></oj-label>
            </div>
            <oj-validation-group id="tracker" valid="{{groupValid}}">

                <div slot="body">
                    <oj-bind-if test='[[isSelectAction]]'>
                        <h3 data-bind="text: currentStepValueText()"></h3>
                        <div id="train-container">
                            <div class="oj-form">
                                <div class="oj-flex-bar">
                                    <div class="oj-flex-bar-start">
                                        <oj-bind-if test='true'>
                                            <oj-button class="apBtn-2" on-oj-action='[[closeDialogEdit]]'>
                                                <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                                                <span slot='endIcon' class="apiconClass fa fa-eye"></span>
                                            </oj-button>
                                        </oj-bind-if>
                                        <oj-bind-if test='[[addBtnVisible]]'>
                                            <oj-button class="apBtn-2" on-oj-action='[[previousStep]]'>
                                                <span><oj-bind-text value="[[pervious]]"></oj-bind-text></span>
                                                <span slot='endIcon' class="apiconClass fa fa-eye"></span>
                                            </oj-button>
                                        </oj-bind-if>
                                    </div>
                                    <div class="oj-flex-bar-end">
                                        <oj-bind-if test='[[nextBtnVisible]]'>
                                            <oj-button disabled="[[currentStepValue() == 'stp2']]" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[nextStep]]'>
                                                <span><oj-bind-text value="[[next]]"></oj-bind-text></span>
                                                <span slot='endIcon' class="apiconClass fa fa-eye"></span>
                                            </oj-button>
                                        </oj-bind-if>
                                        <oj-bind-if test='[[addBtnVisible]]'>
                                            <oj-button disabled="[[currentStepValue() == 'stp2']]" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[submitButton]]'>
                                                <span><oj-bind-text value="[[submit]]"></oj-bind-text></span>
                                                <span slot='endIcon' class="apiconClass fa fa-eye"></span>
                                            </oj-button>
                                        </oj-bind-if>
                                    </div>
                                    <div id="dialogWrapper">
                                        <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
                                            <div slot="header" class="oj-helper-clearfix">
                                                <oj-label><!-- ko text: confirmMessage --><!-- /ko --></oj-label>
                                            </div>
                                            <div slot="body">
                                                <oj-label><!-- ko text: oprationMessage --><!-- /ko --></oj-label>
                                            </div>
                                            <div slot="footer">
                                                <oj-button disabled="{{disabled: disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[commitRecord]]'>
                                                    <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                                                </oj-button>

                                                <oj-button disabled="{{disabled: disabled: disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[cancelButton]]'>
                                                    <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                                                </oj-button>
                                            </div>
                                        </oj-dialog>
                                    </div>
                                </div>
                            </div>

                            <div disabled> 
                                <oj-train id="train" class="oj-train-stretch" selected-step="{{currentStepValue}}" steps="[[stepArray]]" on-oj-before-select="[[stopSelectListener]]"></oj-train>
                            </div>

                            <br>
                            <div class="oj-form-layout oj-panel">
                                <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
                                    <div class="oj-flex" data-bind="visible:isVisible">
                                        <div class="oj-flex">
                                            <oj-label for="control1"><!-- ko text: actionLbl --><!-- /ko --></oj-label>
                                        </div>
                                        <oj-select-one id="v3" disabled='[[isDisabled]]' value="{{positionModle.action}}" required="[[isRequired]]"
                                                       placeholder="[[placeholder]]" on-value-changed = "{{actionChangedHandler}}">
                                            <!-- ko foreach: actionsArr -->
                                            <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                                            <!-- /ko -->
                                        </oj-select-one>
                                    </div>

                                    <div class="oj-flex">
                                        <div class="oj-flex">
                                            <oj-label for="control1"><!-- ko text: startDateLbl --><!-- /ko --></oj-label>
                                        </div> 
                                        <oj-input-text id="datePickerStartDate" value="{{positionModle.startDate}}" required="[[isRequired]]"></oj-input-text>
                                    </div>
                                    <div class="oj-flex" >
                                        <div class="oj-flex">
                                            <oj-label for="control1"><!-- ko text: endDateLbl --><!-- /ko --></oj-label>
                                        </div>
                                        <oj-input-text id="datePickerEndDate" value="{{positionModle.endDate}}" required="[[isRequired]]">
                                        </oj-input-text>
                                    </div>
                                    <div class="oj-flex">
                                        <div class="oj-flex">
                                            <oj-label for="firstName"><!-- ko text: classificationSymbolLbl --><!-- /ko --></oj-label>
                                        </div>
                                        <oj-select-one id="v9" disabled='[[isDisabledTaxonomicCode]]' required value="{{positionModle.taxonomicCode}}" placeholder="[[placeholder]]">
                                            <!-- ko foreach: jobCodeArr -->
                                            <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                                            <!-- /ko -->
                                        </oj-select-one>
                                    </div>
                                    <div class="oj-flex">
                                        <div class="oj-flex">
                                            <oj-label for="personNumber"><!-- ko text: rankedLbl --><!-- /ko --></oj-label>
                                        </div>
                                        <oj-select-one id="v4" disabled='[[isDisabledRanked]]' required="[[isRequired]]" value="{{positionModle.ranked}}" placeholder="[[placeholder]]">
                                            <!-- ko foreach: gradeArr -->
                                            <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                                            <!-- /ko -->
                                        </oj-select-one>
                                    </div>
                                    <div class="oj-flex">
                                        <div class="oj-flex">
                                            <oj-label for="personNumber"><!-- ko text: positionNumberLbl --><!-- /ko --></oj-label>
                                        </div>
                                        <oj-input-number id="v5" min='0' disabled='[[isDisabledPositionNumber]]' required="[[isRequired]]" 
                                                         value="{{positionModle.positionNumber}}">
                                        </oj-input-number>
                                    </div>
                                    <div class="oj-flex">
                                        <div class="oj-flex">
                                            <oj-label for="personNumber"><!-- ko text: positionDepartmentLbl --><!-- /ko --></oj-label>
                                        </div>
                                        <oj-select-one id="v7" disabled='[[isDisabledManaginge]]' required="[[isRequired]]" value="{{positionModle.managing}}" placeholder="[[placeholder]]">
                                            <!-- ko foreach: orgnizationArr -->
                                            <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                                            <!-- /ko -->
                                        </oj-select-one>
                                    </div>
                                    <div class="oj-flex">
                                        <div class="oj-flex">
                                            <oj-label for="personNumber"><!-- ko text: labeledPositionLbl --><!-- /ko --></oj-label>
                                        </div>
                                        <oj-select-one id="v6" disabled='[[isDisabledPositionName]]' required="[[isRequired]]" value="{{positionModle.positionName}}" placeholder="[[placeholder]]"
                                                       >
                                            <!-- ko foreach: positionNameArr -->
                                            <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                                            <!-- /ko -->
                                        </oj-select-one>
                                    </div>
                                    </oj-validation-group>
                                </div>
                            </div>

                        </div>   
                    </oj-bind-if>
                </div>
                <div slot="footer">
                </div>
        </oj-dialog>
    </div>

</div>
<div id="componentDemoContent">
    <div id="dialogWrapper">
        <oj-dialog class="main-dialog effective-dialog" id="effictiveDateDialog" >
            <div slot="header" class="oj-helper-clearfix">
                <label  data-bind="text:effectiveDate "/>
            </div>
            <div class="oj-flex">
                <div class="oj-flex">
                    <oj-label for="control1"><!-- ko text: effectiveDate --><!-- /ko --></oj-label>
                </div>
                <oj-input-text id="datePickerStartDate1" value="{{dateEffictive}}">
                </oj-input-text>
            </div>

            <div class="oj-flex" >
                <div class="oj-flex">
                    <oj-label for="control1"><!-- ko text: todayDay --><!-- /ko --></oj-label>
                </div>
                <oj-input-text id="datePickerStartDate2" value="{{currentDate}}" disabled="true" ></oj-input-text>
            </div>

            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[closeDialogDate]]'>
                    <span><oj-bind-text value="[[ok]]"></oj-bind-text></span>
                </oj-button>
                <oj-button class="apBtn-2" on-oj-action='[[restEffectiveDate]]'>
                    <span><oj-bind-text value="[[resetLabel]]"></oj-bind-text></span>
                </oj-button>
                <oj-button class="apBtn-2" on-oj-action='[[closeCancelDialog]]'>
                    <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>

</div>

<div id="dialogWrapper">
    <oj-dialog class="main-dialog main-dialog-width"
               id="ValidDate">
        <div slot="header" class="oj-helper-clearfix">
            <oj-label><!-- ko text:  confirmMessage --><!-- /ko --></oj-label>
        </div>
        <div slot="body">
            <oj-label><!-- ko text:  DateValidMessage --><!-- /ko --></oj-label>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[cancelValidDateButton]]'>
                <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>
</div>

<div id="dialogWrapper">
    <oj-dialog class="main-dialog main-dialog-width"
               id="CloseEditPopup">
        <div slot="header" class="oj-helper-clearfix">
            <oj-label><!-- ko text:  confirmMessage --><!-- /ko --></oj-label>
        </div>
        <div slot="body">
            <oj-label><!-- ko text:  CancelDialogMessage --><!-- /ko --></oj-label>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[YesCancelDialogButton]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>
            <oj-button class="apBtn-2" on-oj-action='[[NoCancelDialogButton]]'>
                <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>
</div>