<div><oj-messages position="{}" display="general" messages="[[messages]]"></oj-messages></div>
<h1 class="header_headline_style"><span> <oj-bind-text value="[[currentStepValueText()]]"></oj-bind-text> </span></h1>
<div id="train-container">
    <div class="oj-form">
        <div class="oj-flex-bar">
            <div class="oj-flex-bar-start">
                <oj-bind-if test='true'>
                    <oj-button class="apBtn-2" on-oj-action='[[cancelAction]]'>
                        <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-eye"></span>
                    </oj-button>

                </oj-bind-if>
                <oj-bind-if test='[[addBtnVisible]]'>
                    <oj-button class="apBtn-2" on-oj-action='[[previousStep]]'>
                        <span><oj-bind-text value="[[pervious]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-eye"></span>
                    </oj-button>
                </oj-bind-if>
            </div>
            <div class="oj-flex-bar-end">
                <oj-bind-if test='[[nextBtnVisible]]'>
                    <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[nextStep]]' disabled="[[currentStepValue() == 'stp2']]">
                        <span><oj-bind-text value="[[next]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-eye"></span>
                    </oj-button>
                </oj-bind-if>
                <oj-bind-if test='[[addBtnVisible]]'>
                    <oj-button class="apBtn-2" on-oj-action='[[submitButton]]' visible="[[currentStepValue() == 'stp2']]">
                        <span><oj-bind-text value="[[submit]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-eye"></span>
                    </oj-button>
                </oj-bind-if>
            </div>
            <div id="dialogWrapper">
                <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
                    <div slot="header" class="oj-helper-clearfix">
                        <label data-bind="text: confirmMessage"></label>
                    </div>

                    <div slot="body">
                        <label data-bind="text: oprationMessage"></label>
                    </div>
                    <div slot="footer"> 
                        <oj-button class="apBtn-2" on-oj-action='[[commitRecord]]'>
                            <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                        </oj-button>

                        <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                            <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                        </oj-button>
                    </div>
                </oj-dialog>
            </div>
        </div>
    </div>
    <oj-bind-if test='[[trainVisibility]]'>
        <div disabled> 
            <oj-train id="train" selected-step="{{currentStepValue}}" steps="[[stepArray]]"
                      class="oj-train-stretch" on-oj-before-select="[[stopSelectListener]]"/>
        </div>
    </oj-bind-if>
    <br>
    <div class="oj-form-layout">
        <oj-validation-group id="tracker" valid="{{groupValid}}">
            <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations">
                    <div class="oj-flex-item">
                        <label data-bind="text: startDate"></label>
                    </div>   
                    <div class="oj-flex-item">
                        <oj-input-text id="datePickerStartDate" value="{{positionModle.startDate}}" disabled='[[isDisabled]]' required>
                        </oj-input-text>
                    </div>

                    <div class="oj-flex-item">
                        <label data-bind="text: endDate"></label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="datePickerEndDate" value="{{positionModle.endDate}}" disabled='[[isDisabled]]' required>
                        </oj-input-text>
                    </div>
                    <div class="oj-flex-item">
                        <label data-bind="text: familyjobLbl"></label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-select-one id="v3" disabled='[[isDisabled]]' required value="{{positionModle.familyJob}}"
                                       placeholder="[[placeholder]]">
                            <!-- ko foreach: jobCodeArr -->
                            <oj-option value="[[value]]"><span data-bind="text: description"></span></oj-option>
                            <!-- /ko -->
                        </oj-select-one>
                    </div>
                    <div class="oj-flex-item">
                        <label data-bind="text: codeOfTaxonomicCode"></label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-select-one id="v3" disabled='[[isDisabled]]'  value="{{positionModle.familyJobCode}}"
                                       placeholder="[[placeholder]]">
                            <!-- ko foreach: jobCodeArr -->
                            <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                            <!-- /ko -->
                        </oj-select-one>
                    </div>

                    <div class="oj-flex-item">
                        <label data-bind="text: positionNumber"></label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-number min="0" id="v5" disabled='[[isDisabled]]' required="[[isRequired]]" 
                                         value="{{positionModle.positionNumber}}">
                        </oj-input-number>
                    </div>
                    <div class="oj-flex-item">
                        <label data-bind="text: managing"></label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-select-one id="v7" disabled='[[isDisabled]]' required="[[isRequired]]" value="{{positionModle.managing}}" placeholder="[[placeholder]]">
                            <!-- ko foreach: orgnizationArr -->
                            <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                            <!-- /ko -->
                        </oj-select-one>
                    </div>
                    <div class="oj-flex-item">
                        <label data-bind="text: positionName"></label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-select-one id="v6" disabled='[[isDisabled]]' required="[[isRequired]]" value="{{positionModle.positionName}}" placeholder="[[placeholder]]">
                            <!-- ko foreach: positionNameArr -->
                            <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                            <!-- /ko -->
                        </oj-select-one>
                    </div>
                </div>
            </div>
        </oj-validation-group>
    </div>

</div>

<div id="dialogWrapper">
    <oj-dialog id="ValidDate">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text: confirmMessage "/>
        </div>
        <div slot="body">
            <label data-bind="text: DateValidMessage "/>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[cancelValidDateButton]]'>
                <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>
</div>