<p class="header_headline_style animated fadeInUp" data-bind="text:title">Log Screen</p>

<div class="oj-form-layout oj-panel">

    <div class="oj-flex">
        <div class="oj-flex-item">
            <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                <span>
                    <oj-bind-text value="[[backLbl]]"></oj-bind-text>
                </span>
                <span slot='endIcon' class="apiconClass fa fa-arrow-circle-left"></span>
            </oj-button>
        </div>
    </div>

    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
            <oj-form-layout label-edge="top" direction="row">
                <div class="oj-flex-item">
                    <div class="oj-flex-item" style="margin: 15px 0px 5px 10px;">
                        <oj-label for="text"><span data-bind="text:eitNameLbl"></span></oj-label>
                        <oj-combobox-one label-hint="{{eitNameLbl}}" value="{{eitNameVal}}" options="{{eitNameOpts}}">
                        </oj-combobox-one>
                    </div>
                    <div class="oj-flex-item">
                        <oj-button disabled="{{searchDisable}}" class="apBtn-2 apBtn-disabled btnStyle"
                            on-oj-action='[[searchBtnAction]]'>
                            <oj-bind-text value="[[searchLbl]]"></oj-bind-text>
                        </oj-button>
                    </div>
                      <div class="oj-flex-item">
                        <oj-button disabled="{{addDisable}}" class="apBtn-2"
                            on-oj-action='[[resendBtnAction]]'>
                            <oj-bind-text value="[[addLbl]]"></oj-bind-text>
                        </oj-button>
                    </div>
                </div>
            </oj-form-layout>
        </div>
    </div>

    <oj-table id='table' aria-label='Log Table' class='apTable-1' data='[[dataSource]]'
        selection-mode='{"row": "multiple", "column": "multiple"}' dnd='{"reorder": {"columns": "enabled"}}'
        scroll-policy-options='{"fetchSize": 10}' columns='[[columnArray]]'
        on-oj-before-current-row="[[tableSelectionListener]]" display="grid">
        <oj-paging-control id="paging" data='[[dataSource]]' page-size='5' slot='bottom' class='apPaging-1'>
        </oj-paging-control>
    </oj-table>

</div>