<div><oj-messages position="{}" display="general" messages="[[messages]]"></oj-messages></div>
<div id="train-container">
    <h1 class="header_headline_style"><span> <oj-bind-text value="[[reportTitleLabl]]"></oj-bind-text> </span></h1>

    <div class="oj-form">
        <div class="oj-flex-bar">
            <div class="oj-flex-bar-start">

                <oj-button class="apBtn-2" data-bind="visible: hidecancel"
                           on-oj-action="[[cancelAction]]">
                    <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" data-bind="visible: hidepervious"
                           on-oj-action="[[previousStep]]">
                    <span><oj-bind-text value="[[pervious]]"></oj-bind-text></span>
                </oj-button>

            </div>
            <div class="oj-flex-bar-end">

                <oj-button class="apBtn-2" data-bind="visible: hidenext"
                           on-oj-action="[[nextStep]]">
                    <span><oj-bind-text value="[[next]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" data-bind="visible: hidesubmit"
                           on-oj-action="[[submitButton]]"
                           visible="[[currentStepValue() == 'stp2']]">
                    <span><oj-bind-text value="[[submit]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" data-bind="visible: hideUpdatesubmit"
                           on-oj-action="[[submitUpdateButton]]"
                           visible="[[currentStepValue() == 'stp2']]">
                    <span><oj-bind-text value="[[submit]]"></oj-bind-text></span>
                </oj-button>
            </div>

        </div>
    </div>

    <div> 
        <oj-train id="train"
                  selected-step="{{currentStepValue}}" steps="[[stepArray]]"
                  class="oj-train-stretch"
                  on-oj-before-select="[[stopSelectListener]]"/>
    </div>

    <br>
    <div class="oj-form-layout oj-panel backGG">
        <oj-validation-group id="tracker" valid="{{groupValid}}">
<!--         <div class="oj-flex-item">
                    <div class="oj-flex-item">
                        <label for="personNumber" data-bind="text: LetterNameLbl" show-required/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-select-one id="Guarantee_Type" class="disable-element"   required  placeholder="[[placeholder]]"
                                       value="{{validationModle.letterNameVal}}" options="{{LetterArr}}">
                        </oj-select-one>     

                    </div>
                </div>-->
        
        
        
        
            <div class="header_headline_style_2">
              <label data-bind="text: Titlelbl"/>
            </div>
           <div class="oj-flex tableBodyStyleHeader">
                <div class="oj-flex">
                    <label class="InfoQ" data-bind="text: dateLbl"/>
                </div>
             </b><span class="InfoA" data-bind="text:currentDate"></span>
            </div>  
            
<div class="tableBodyStyle">
    <table>
        <tr>
            <td>
                <div class="oj-flex">
                    <div class="oj-flex">
                        <label class="InfoQ" data-bind="text: newEmployeeNameLbl"/> 
                    </div>
                    </b><span class="InfoA" data-bind="text: personDetails().displayName"></span> 

                </div>
            </td>
            <td>
                <div class="oj-flex">
                    <div class="oj-flex">
                        <label class="InfoQ" data-bind="text: EmployeeNumberLbl"/> 
                    </div>
                    </b><span class="InfoA" data-bind="text: personDetails().personNumber"></span> 
                </div>

            </td>
        </tr>
        
        <tr>
            <td>
                <div class="oj-flex">
                    <div class="oj-flex">
                        <label class="InfoQ" data-bind="text: jobNameLbl"/> 
                    </div>
                    </b><span class="InfoA" data-bind="text: personDetails().jobName"></span> 

                </div>
            </td>
            <td>
                <div class="oj-flex">
                    <div class="oj-flex">
                        <label class="InfoQ" data-bind="text: GradeCandidateLbl"/> 
                    </div>
                    </b><span class="InfoA" data-bind="text: personDetails().grade"></span>

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="oj-flex">
                    <div class="oj-flex">
                        <label class="InfoQ" data-bind="text: CandidateDateLbl"/> 
                    </div>
                    </b><span class="InfoA" data-bind="text: personDetails().hireDate"></span>

                </div>
            </td>
            <td>
                <div class="oj-flex">
                    <div class="oj-flex">
                        <label class="InfoQ" data-bind="text: workSiteLbl"/> 
                    </div>
                    </b><span class="InfoA" data-bind="text: personDetails().employeeLocation"></span>
                </div>
            </td>
        </tr>
        <tr>
          <td>
                <div class="oj-flex">
                    <div class="oj-flex">
                        <label class="InfoQ" data-bind="text: 'Manager Name '"/> 
                    </div>
                    </b><span class="InfoA" data-bind="text: personDetails().managerName"></span>
                </div>
            </td>
        </tr>
    </table>
</div>
        
      
    <div class="tableBodyStyleHeader2">
         <div class="oj-flex">
             <span class="InfoQ" data-bind="text:noteLbl"></span> 
            </div>
          <div class="oj-flex">
             <span class="InfoA2" data-bind="text:noteLblNumber1"></span> 
            </div>
         <div class="oj-flex">
             <span class="InfoA2" data-bind="text:noteLblNumber2"></span> 
            </div>
     </div>

<hr/>
           <div class="oj-flex">
               <div class="secinfostyel"> <span data-bind="text:CommitmentAnddiscipline"></span>  </div>
            </div>
            
            
<div class="tableBodyStyle">
    <table>
                <tr>
                    <td><span data-bind="text:elementLbl"/></td>
                   <td>1&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp4&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp5</td>
                </tr>                
                <tr>
            <div class="oj-flex">
                
                <div class="oj-flex">
                 <td>   <label data-bind="text: CommitmentAnddiscipline1"/> </td>
                </div>
                 
                <div class="oj-flex-item">
                   <td> <oj-radioset class="oj-choice-direction-row"  disabled='[[isDisabled]]' required  value="{{validationModle.radioCommitmentAnddisciplineq1}}">
                        <!-- ko foreach:RadioArr1 -->
                          <oj-option   data-bind="value: value"></span></oj-option> 
                        <!-- /ko --></td>
                    </oj-radioset>
                </div>

            </div>
            </tr>
            <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td> <label data-bind="text: CommitmentAnddiscipline2"/> </td>
                </div>
                <div class="oj-flex-item">
                       <td>   <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]'  required value="{{validationModle.radioCommitmentAnddisciplineq2}}">
                        <!-- ko foreach:RadioArr1 -->
                      <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko --></td>
                    </oj-radioset>
                </div>

            </div>
            
            </tr>
            <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td> <label data-bind="text: CommitmentAnddiscipline3"/> </td>
                </div>
                <div class="oj-flex-item">
                   <td>   <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required  value="{{validationModle.radioCommitmentAnddisciplineq3}}">
                         <!-- ko foreach:RadioArr1 -->
                       <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset></td>
                </div>

            </div>
           </tr>
           <tr> 
            <div class="oj-flex">
                <div class="oj-flex">
                    <td>    <label data-bind="text: CommitmentAnddiscipline4"/> </td>
                </div>
                <div class="oj-flex-item">
                  <td>  <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.radioCommitmentAnddisciplineq4}}">
                           <!-- ko foreach:RadioArr1 -->
                      <oj-option data-bind="value: value" ></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset></td>
                </div>

            </div>
            </tr>
            <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td>    <label data-bind="text: CommitmentAnddiscipline5"/> </td> 
                </div>
                <div class="oj-flex-item">
                   <td>    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.radioCommitmentAnddisciplineq5}}">
                     <!-- ko foreach:RadioArr1 -->
                          <oj-option data-bind="value: value"></span></oj-option> 
                         <!-- /ko -->
                    </oj-radioset></td>
                </div>

            </div>
           </tr>
      </table>
</div>

<hr/>
            
          

            <div class="oj-flex">
                <span data-bind="text: totalCommitmentAnddiscipline" ></span>
            </div>

            <div class="oj-flex">
                <div class="secinfostyel">   <span data-bind="text: appearanceAndbehaviorLbl" ></span> </div>
            </div>
<div class="tableBodyStyle">
    <table >
              
                <tr>
                    <td><span data-bind="text:elementLbl"/></td>
                   <td>1&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp4&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp5</td>
                   
                    
                </tr>
            
                <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td> <label data-bind="text: appearanceAndbehaviorLbl1"/> </td> 
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required  value="{{validationModle.appearanceAndbehavior1}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>
            <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td>  <label data-bind="text: appearanceAndbehaviorLbl2"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required  value="{{validationModle.appearanceAndbehavior2}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>
            <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td> <label data-bind="text: appearanceAndbehaviorLbl3"/> </td> 
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required  value="{{validationModle.appearanceAndbehavior3}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>
            <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td>   <label data-bind="text: appearanceAndbehaviorLbl4"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required  value="{{validationModle.appearanceAndbehavior4}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>
            
            <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td> <label data-bind="text: appearanceAndbehaviorLbl5"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row"  disabled='[[isDisabled]]' required value="{{validationModle.appearanceAndbehavior5}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>

              </table>
</div>
<hr/>

              
            <div class="oj-flex">
                <div class="secinfostyel">   <span data-bind="text: InteractingWithothersLbl" ></span> </div>
            </div>

            
<div class="tableBodyStyle">
    <table >
              
                <tr>
                    <td><span data-bind="text:elementLbl"/></td>
                   <td>1&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp4&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp5</td>
                   
                    
                </tr>
            
            
                <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td>  <label data-bind="text: InteractingWithothersLbl1"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.InteractingWithothers1}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
              </tr> 
                
              <tr>   
            <div class="oj-flex">
                <div class="oj-flex">
                    <td> <label data-bind="text: InteractingWithothersLbl2"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.InteractingWithothers2}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
              </tr>
              <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td>  <label data-bind="text: InteractingWithothersLbl3"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.InteractingWithothers3}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>  
              
              
            <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td>  <label data-bind="text: InteractingWithothersLbl4"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.InteractingWithothers4}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>
            
            <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td><label data-bind="text: InteractingWithothersLbl5"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.InteractingWithothers5}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>
            </table>
</div>
<hr/>
            

            <div class="oj-flex">
                <div class="secinfostyel">   <span data-bind="text: qualityOfcommunicationLbl" ></span> </div>
            </div>

<div class="tableBodyStyle">
    <table>
              
                <tr>
                    <td><span data-bind="text:elementLbl"/></td>
                   <td>1&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp4&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp5</td>
                   
                    
                </tr>
                <tr> 
            <div class="oj-flex">
                <div class="oj-flex">
                    <td>    <label data-bind="text: qualityOfcommunicationLbl1"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.qualityOfcommunication1}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>    
                
            <tr>  
            <div class="oj-flex">
                <div class="oj-flex">
                    <td>     <label data-bind="text: qualityOfcommunicationLbl2"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.qualityOfcommunication2}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>
            <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td>   <label data-bind="text: qualityOfcommunicationLbl3"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.qualityOfcommunication3}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>
            
            <tr> 
            <div class="oj-flex">
                <div class="oj-flex">
                    <td> <label data-bind="text: qualityOfcommunicationLbl4"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.qualityOfcommunication4}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>
            
            <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td>  <label data-bind="text: qualityOfcommunicationLbl5"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.qualityOfcommunication5}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>
          
         </div>
            
            </tr>
             </table>
</div>
<hr/>
             
            
             <div class="oj-flex">
              <div class="secinfostyel">  <span data-bind="text: DirectManagerLbl" ></span> </div>
              </div>
              <div class="textAreaStyle">
                  <oj-text-area id="text-area" disabled='[[isDisabled]]' required value="{{validationModle.DirectManagerVal}}">
                  </oj-text-area>
              </div>
                
             <div class="oj-flex">
              <div class="secinfostyel">  <span data-bind="text: departmentLbl" ></span> </div>
              </div>
              <div class="textAreaStyle">
              
              <oj-select-one id="Guarantee_Type" class="disable-element"   required  placeholder="[[placeholder]]"
                                       value="{{validationModle.departmentVal}}" options="{{DepartmentArr}}">
              </oj-select-one>   
              </div>

        <hr/>
              
                
        
              
               
              
     
                    <div class="header_headline_style_2">
                         <label data-bind="text:FinalDecisionLbl "/> 
                    </div>
        
                <div class="oj-flex">
                    <div class="oj-flex-item midradioset">
                      
<!--                        <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.finalDecisionVal}}">
                             ko foreach:FinalDecisionArr 
                            <oj-option data-bind="value:value"><span data-bind="text: label"></span></oj-option>
                             /ko 
                        </oj-radioset>-->
                        
                         <oj-select-one id="Guarantee_Type" class="disable-element"   required  placeholder="[[placeholder]]"
                                       value="{{validationModle.finalDecisionVal}}" options="{{FinalDecisionArr}}">
                        </oj-select-one>   
                       
                    </div>

                </div>
        </oj-validation-group>
        <div class="virPadding"></div>
             
           
        
    </div>
    <div id="dialogWrapper">
        <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text: confirmMessage"/>
            </div>
            <div slot="body">
                <label data-bind="text: oprationMessage"/>
            </div>
            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[commitRecord]]'>
                    <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                    <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>
    <div id="dialogWrapper">
        <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialogUpdate">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text:confirmMessage "/>
            </div>
            <div slot="body">
                <label data-bind="text:oprationMessageUpdate"/>
            </div>
            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[commitRecordupdate]]'>
                    <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" on-oj-action='[[cancelButtonupdate]]'>
                    <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>
</div>