<div><oj-messages position="{}" display="general" messages="[[messages]]"></oj-messages></div>
<div id="train-container" class="request_body_styling animated fadeInUp">
    <h1 class="header_headline_style"><span> <oj-bind-text value="[[reportTitleLabl]]"></oj-bind-text> </span></h1>

    <div class="oj-form">
        <div class="oj-flex-bar">
            <div class="oj-flex-bar-start">

                <oj-button class="apBtn-2" data-bind="visible: hidecancel"
                           on-oj-action="[[cancelAction]]">
                    <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" data-bind="visible: hidepervious"
                           on-oj-action="[[previousStep]]">
                    <span><oj-bind-text value="[[pervious]]"></oj-bind-text></span>
                </oj-button>

            </div>
            <div class="oj-flex-bar-end">

                <oj-button class="apBtn-2" data-bind="visible: hidenext"
                           on-oj-action="[[nextStep]]">
                    <span><oj-bind-text value="[[next]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" data-bind="visible: hidesubmit"
                           on-oj-action="[[submitButton]]"
                           visible="[[currentStepValue() == 'stp2']]">
                    <span><oj-bind-text value="[[submit]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" data-bind="visible: hideUpdatesubmit"
                           on-oj-action="[[submitUpdateButton]]"
                           visible="[[currentStepValue() == 'stp2']]">
                    <span><oj-bind-text value="[[submit]]"></oj-bind-text></span>
                </oj-button>
            </div>

        </div>
    </div>
  <h3 id="currentStepText" data-bind="text: currentStepValueText()"></h3>
    <div> 
        <oj-train id="train"   data-bind="visible: trainVisible"
                  selected-step="{{currentStepValue}}" steps="[[stepArray]]"
                  class="oj-train-stretch"
                  on-oj-before-select="[[stopSelectListener]]"/>
    </div>

    <br>
    <div class="oj-flex">
                <div class="oj-flex">
                    <label data-bind="text: reportTitleLabl"/>
                </div>
                
       </div>
    <div class="oj-form-layout oj-panel">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">

            <oj-validation-group id="tracker" valid="{{groupValid}}">

          
            
   
            <div class="oj-flex-item">
                <div class="oj-flex-item">
                    <label data-bind="text: roleNamelbl"/>
                </div>

              <div class="oj-flex-item">
                    <oj-select-one    id="select" required  class="disable-element" disabled='[[isDisabled]]' required="[[isRequired]]"  placeholder="[[placeholder]]"  value="{{validationModle.roleNameVal}}" options="{{roleNameArr}}">
                    </oj-select-one>
              </div>
            </div>
<!--            <div class="oj-flex-item">
                <div class="oj-flex-item">
                    <label data-bind="text: firstKeyTypeLbl"/>
                </div>

              <div class="oj-flex-item">
                    <oj-select-one    id="select" disabled='[[isDisabled]]' required="[[isRequired]]"  class="disable-element" placeholder="[[placeholder]]"  value="{{validationModle.fristKeyTypeVal}}" options="{{fristKeyTypeArr}}">
                    </oj-select-one>
              </div>
            </div>-->
            <!--<oj-bind-if test="[[validationModle.fristKeyTypeVal() === 'sastatic_role']]">-->
<!--            <div class="oj-flex-item" >
                        <div class="oj-flex-item">
                            <label  data-bind="text: firstKeyValueLbl "/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-input-text id="text-input" disabled='[[isDisabled]]' required="[[isRequired]]"
                                           value="{{validationModle.firstKeyValue}}"></oj-input-text>                
                        </div>
            </div> -->
            <!--</oj-bind-if>-->
              <!--<oj-bind-if test="[[validationModle.fristKeyTypeVal() === 'personal_Infromation']]">-->
               <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label  data-bind="text: personalInfromationLbl "show-required/>
                        </div>

                        <div class="oj-flex-item">

                            <oj-select-one id="Guarantee_Type"  class="disable-element" disabled='[[isDisabled]]' required="[[isRequired]]"   value="{{validationModle.personalInfromationVal}}" options="{{personalInfromationArr}}">
                            </oj-select-one>            

                        </div>
              </div>
               <!--</oj-bind-if>-->
               <div class="oj-flex-item">
                    <div class="oj-flex-item">
                        <label for="personNumber" data-bind="text: operationLbl "show-required/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-select-one    placeholder="[[placeholder]]" class="disable-element" disabled='[[isDisabled]]' required="[[isRequired]]"  value="{{validationModle.operation}}" options="{{operationArr}}">
                        </oj-select-one>            

                    </div>
                </div>
            
<!--              <div class="oj-flex-item">
                <div class="oj-flex-item">
                    <label data-bind="text: secondKeyTypeLbl"/>
                </div>

              <div class="oj-flex-item">
                    <oj-select-one    id="select" disabled='[[isDisabled]]' required="[[isRequired]]"  class="disable-element" placeholder="[[placeholder]]" value="{{validationModle.SecondfristKeyTypeVal}}" options="{{SecondKeyTypeArr}}">
                    </oj-select-one>
              </div>
            </div>-->
            <!--<oj-bind-if test="[[validationModle.SecondfristKeyTypeVal() === 'sastatic_role']]">-->
              <div class="oj-flex-item" >
                        <div class="oj-flex-item">
                            <label for="positionNumber" data-bind="text: secondKeyValueLbl "/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-input-text id="text-input" class="disable-element" disabled='[[isDisabled]]' required="[[isRequired]]" value="{{validationModle.firstKeyValue}}"></oj-input-text>                
                        </div>
              </div>
            <!--</oj-bind-if>-->
<!--            <oj-bind-if test="[[validationModle.SecondfristKeyTypeVal() === 'personal_Infromation']]">
             <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label  data-bind="text: secondpersonalInfromationLbl "show-required/>
                        </div>

                        <div class="oj-flex-item">

                            <oj-select-one id="Guarantee_Type" disabled='[[isDisabled]]' required="[[isRequired]]"   value="{{validationModle.secondPersonalInfromationVal}}" options="{{personalInfromationArr}}">
                            </oj-select-one>            

                        </div>
              </div>
            </oj-bind-if>-->
            
            
<!--              <div class="oj-flex-item" >
                        <div class="oj-flex-item">
                            <label for="positionNumber" data-bind="text: errorMassageEnLbl "/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-input-text id="text-input" disabled='[[isDisabled]]' required="[[isRequired]]"
                                           value="{{validationModle.errorMassageEn}}"></oj-input-text>                
                        </div>
             </div>
            <div class="oj-flex-item" >
                        <div class="oj-flex-item">
                            <label for="positionNumber" data-bind="text:arabicErrorMessageLbl"/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-input-text id="text-input" disabled='[[isDisabled]]' required="[[isRequired]]"
                                           value="{{validationModle.errorMassageAR}}"></oj-input-text>                
                        </div>
             </div>-->
              </oj-validation-group>
          
               
            
            
            
            
        </div>
    </div>
    <div id="dialogWrapper">
        <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text: confirmMessage"/>
            </div>
            <div slot="body">
                <label data-bind="text: oprationMessage"/>
            </div>
            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[commitRecord]]'>
                    <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                    <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>
    <div id="dialogWrapper">
        <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialogUpdate">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text:confirmMessage "/>
            </div>
            <div slot="body">
                <label data-bind="text:oprationMessageUpdate"/>
            </div>
            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[commitRecordupdate]]'>
                    <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" on-oj-action='[[cancelButtonupdate]]'>
                    <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>
</div>