/*
info: this file for customization and variable declaration
auther: Mohamed Ashraf
Note: Don't use for styling!!
*/
:root{
    /* theme Color */
    --primary-color: #252859;
    --secondary-color: #008ed1;
    --primary-light-shade: #9497c5;
    --secondary-dark-shade: #191b40;
    --primary-white-color: #ffffff;
    --secondary-black-color: #1a1a1a;
    
    /*Header Label: Defult Value is white*/
    --header-lable-color:#ffffff;

    /*Header BackGround: Defult Value is transparent */
    --header-background:transparent;
    --header-mobile-background:#ffffff;

     /*mobile footer BackGround: Defult Value is transparent */
     --footer-background:#ffffff;

    /* theme Background*/
    --appBackgroundImg: url("images/bkgd_watermarkcloud.png");
    --appBackgroundColor:#8cd3ff;

    /*Request lable*/
    --request-lable:#2e444c;

    /*BTN Colors*/
    --Btn-main-color: #252859;
    --Btn-dis-color: #9497c5;

    /*Color of the required*/
    --required-color:#bd2527;

    /*Paging*/
    --Paging-main-color: #252859;

    /*Table
    these are the defult Colors, You can change theme if needed
    */
    --table-header-color:#e0e1e1;
    --table-text-color:#1a1a1a;
    --table-hover-BG:#d1d1d1;
    --table-hover-text:#555555;
    
    /*for dyanmic text area*/
    --textAreaInputw:50%;
    --textAreaInputh:300px;

}