<h1 class="header_headline_style"><span> <oj-bind-text value="Ministry Job"></oj-bind-text> </span></h1>
<div id="train-container">

    <div class="oj-form-layout">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
            <div class="oj-flex">
                <div class="oj-flex">
                    <label for="firstName"  data-bind="text: 'المجموعة العامة' "/>
                </div>
                <oj-select-one id="select" required="[[isRequired]]" 
                               placeholder="[[placeholder]]">
                    <!-- ko foreach: testData -->
                    <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                    <!-- /ko -->
                </oj-select-one>

            </div>
            <div class="oj-flex">
                <div class="oj-flex">
                    <label for="personNumber" data-bind="text: 'نوع الدليل التصنيفي' "/>
                </div>
                <oj-select-one id="select" placeholder="[[placeholder]]">
                    <!-- ko foreach: testData -->
                    <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                    <!-- /ko -->
                </oj-select-one>

            </div>
            <div class="oj-flex">
                <div class="oj-flex">
                    <label for="personNumber" data-bind="text: 'المجموعة النوعية' "/>
                </div>
                <oj-select-one id="select" placeholder="[[placeholder]]">
                    <!-- ko foreach: testData -->
                    <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                    <!-- /ko -->
                </oj-select-one>

            </div>
            <div class="oj-flex">
                <div class="oj-flex">
                    <label for="personNumber" data-bind="text: 'سلسلة الفئات' "/>
                </div>
                <oj-select-one id="select" placeholder="[[placeholder]]">
                    <!-- ko foreach: testData -->
                    <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                    <!-- /ko -->
                </oj-select-one>

            </div>
            <div class="oj-flex">
                <div class="oj-flex-item" align="left">
                    <oj-button class="apBtn-2" on-oj-action='[[searchPerson]]'>
                        <span><oj-bind-text value="[[search]]"></oj-bind-text></span>
                    </oj-button>
                    <oj-button class="apBtn-2" on-oj-action='[[reset]]'>
                        <span><oj-bind-text value="[[clear]]"></oj-bind-text></span>
                    </oj-button>

                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item" align="left">
                    <oj-button class="apBtn-2" on-oj-action='[[addJob]]'>
                        <span><oj-bind-text value="[[Add]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                    </oj-button>

                    <oj-button class="apBtn-2" on-oj-action='[[updateJob]]'>
                        <span><oj-bind-text value="[[Update]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                    </oj-button>

                    <oj-button class="apBtn-2" on-oj-action='[[detailsOfJob]]'>
                        <span><oj-bind-text value="[[Details]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-check"></span>
                    </oj-button>

                    <oj-button class="apBtn-2" on-oj-action='[[showHistory]]'>
                        <span><oj-bind-text value="[[History]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-eye"></span>
                    </oj-button>

                </div>
            </div>
        </div>
    </div>
    <br/>
    <div>
        <oj-table id='table' aria-label='Departments Table'
                  class='apTable-1'
                  data='[[dataprovider]]'
                  selection-mode='{"row": "multiple", "column": "multiple"}'
                  dnd='{"reorder": {"columns": "enabled"}}'
                  scroll-policy='loadMoreOnScroll'
                  scroll-policy-options='{"fetchSize": 10}'
                  columns='[[columnArray]]'>
        </oj-table>
    </div>
</div>