<div><oj-messages position="{}" display="general" messages="[[messages]]"></oj-messages></div>
<h1 class="header_headline_style"><span> <oj-bind-text value="[[currentStepValueText()]]"></oj-bind-text> </span></h1>
<div id="train-container">
    <div class="oj-form">
        <div class="oj-flex-bar">
            <div class="oj-flex-bar-start">
                <oj-bind-if test='true'>
                    <oj-button class="apBtn-2" on-oj-action="[[cancelDialog]]">
                        <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                    </oj-button>
                </oj-bind-if>
                <oj-bind-if test='[[addBtnVisible]]'>
                    <oj-button class="apBtn-2" on-oj-action="[[previousStep]]">
                        <span><oj-bind-text value="[[pervious]]"></oj-bind-text></span>
                    </oj-button>
                </oj-bind-if>
            </div>
            <div class="oj-flex-bar-end">
                <oj-bind-if test='[[nextBtnVisible]]'>
                    <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action="[[nextStep]]"
                               disabled="[[currentStepValue() == 'stp2']]">
                        <span><oj-bind-text value="[[next]]"></oj-bind-text></span>
                    </oj-button>
                </oj-bind-if>
                <oj-bind-if test='[[addBtnVisible]]'>
                    <oj-button class="apBtn-2" on-oj-action="[[submitButton]]"
                               visible="[[currentStepValue() == 'stp2']]">
                        <span><oj-bind-text value="[[submit]]"></oj-bind-text></span>
                    </oj-button></oj-bind-if>
            </div>
            <div id="dialogWrapper">
                <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
                    <div slot="header" class="oj-helper-clearfix">
                        <label data-bind="text:confirmMessage "/>
                    </div>
                    <div slot="body">
                        <label data-bind="text:oprationMessage "/>
                    </div>
                    <div slot="footer">
                        <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[commitRecord]]'>
                            <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                        </oj-button>

                        <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[cancelButton]]'>
                            <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                        </oj-button>
                    </div>

                </oj-dialog>
            </div>

            <div id="dialogWrapper">
                <oj-dialog class="main-dialog main-dialog-width" id="cancelDialog">
                    <div slot="header" class="oj-helper-clearfix">
                        <!--Cancel-->
                        <span data-bind="text:returnToPerviousPage"></span>
                    </div>

                    <div slot="body">
                        <!--Are you Sure?-->
                        <span data-bind="text:confirmationCancelPage"></span>
                    </div>
                    <div slot="footer">
                        <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[cancelAction]]'>
                            <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                        </oj-button>

                        <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[canceld]]'>
                            <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                        </oj-button>
                    </div>
                </oj-dialog>
            </div>

            <div id="dialogWrapper">
                <oj-dialog class="main-dialog main-dialog-width" id="editDialog">
                    <div slot="header" class="oj-helper-clearfix">
                        <label data-bind="text:confirmMessage "/>
                    </div>
                    <div slot="body">
                        <label data-bind="text:oprationMessage "/>
                    </div>
                    <div slot="footer">

                        <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[commitRecord]]'>
                            <span><oj-bind-text value="Update_Change_Insert"></oj-bind-text></span>
                        </oj-button>

                        <oj-button class="apBtn-2" on-oj-action='[[commitRecordUpdateOverride]]'>
                            <span><oj-bind-text value="update override"></oj-bind-text></span>
                        </oj-button>

                        <oj-button class="apBtn-2" on-oj-action='[[canceldUpdateCorrection]]'>
                            <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                        </oj-button>

                    </div>
                </oj-dialog>
            </div>
        </div>
    </div>
    <oj-bind-if test='[[trainVisibility]]'>
        <div disabled> 
            <oj-train id="train"
                      selected-step="{{currentStepValue}}" steps="[[stepArray]]"
                      class="oj-train-stretch"
                      on-oj-before-select="[[stopSelectListener]]"/>
        </div>
    </oj-bind-if>
    <br>
    <div class="oj-form-layout oj-panel">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
            <oj-bind-if test='[[jnVisibility]]'>
                <div class="oj-flex">
                    <div class="oj-flex">
                        <label for="firstName" data-bind="text: jobName"/>
                    </div>

                    <label for="firstName" data-bind="text: jobn"/>

                </div>
                <br>

            </oj-bind-if>
            <oj-validation-group id="tracker" valid="{{groupValid}}">
                <div class="oj-flex">
                    <div class="oj-flex">
                        <label for="control1" data-bind="text: startDate " show-required/>
                    </div>
                    <oj-input-text id="datePickerStartDate" required="[[isRequired]]" min="1440-02-10" max="1440-02-13 
                                   value="{{ministryJobModle.startDate}}" disabled='[[isDisabled]]' class="main-select-one">
                        <span slot='endIcon'></span>
                    </oj-input-text>
                </div>
                <div class="oj-flex" >
                    <div class="oj-flex">
                        <label for="control1" data-bind="text: endDate " show-required/>
                    </div>
                    <oj-input-text id="datePickerEndDate"  value="{{ministryJobModle.endDate}}" disabled='[[isDisabled]]' max="1440/02/14" class="main-select-one">
                        <span slot='endIcon'></span>
                    </oj-input-text>
                </div>
                <div class="oj-flex">
                    <div class="oj-flex">
                        <label for="firstName" data-bind="text: jobType "showrequired/>
                    </div>
                    <oj-select-one id="v3" disabled='[[isDisabled]]' required value="{{ministryJobModle.jobClassificationType}}"
                                   placeholder="[[placeholder]]"
                                   class="main-select-one">
                        <!-- ko foreach: jobCatagoryList -->
                        <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                        <!-- /ko -->
                    </oj-select-one>

                </div>


                <div class="oj-flex">
                    <div class="oj-flex">
                        <label for="personNumber" data-bind="text: generalGroup "show-required/>
                    </div>
                    <oj-select-one id="v4" disabled='[[isDisabled]]' required="[[isRequired]]" value="{{ministryJobModle.generalGroup}}" 
                                   class="main-select-one" placeholder="[[placeholder]]">
                        <!-- ko foreach: generalGroupList -->
                        <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                        <!-- /ko -->
                    </oj-select-one>

                </div>
                <div class="oj-flex">
                    <div class="oj-flex">
                        <label for="personNumber" data-bind="text: jobTypeGroup  "show-required/>
                    </div>
                    <oj-select-one id="v5" disabled='[[isDisabled]]' required="[[isRequired]]" value="{{ministryJobModle.groupType}}" 
                                   class="main-select-one" placeholder="[[placeholder]]">
                        <!-- ko foreach: generalTypeList -->
                        <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                        <!-- /ko -->
                    </oj-select-one>

                </div>
                <div class="oj-flex">
                    <div class="oj-flex">
                        <label for="personNumber" data-bind="text: seriesCategories "show-required/>
                    </div>
                    <oj-select-one id="v6" disabled='[[isDisabled]]' required="[[isRequired]]" value="{{ministryJobModle.seriesCategory}}" class="main-select-one" placeholder="[[placeholder]]">
                        <!-- ko foreach: jobNameList -->
                        <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                        <!-- /ko -->
                    </oj-select-one>
                </div>

            </oj-validation-group>
        </div>
    </div>

</div>