<div id="form-container" class="oj-form-layout">
    <div class="oj-form">
        <div class="oj-flex-bar">
            <div class="oj-flex-bar-start">
                <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                    <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                </oj-button>

                <oj-button disabled="{{currentStepValue() == 'stp1'}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[previousStep]]'>
                    <span><oj-bind-text value="[[backLbl]]"></oj-bind-text></span>
                </oj-button>
            </div>
            <div class="oj-flex-bar-end">
                <oj-button disabled="{{currentStepValue() == 'stp2'}}" data-bind="visible: nextBtnVisible" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[nextStep]]'>
                    <span><oj-bind-text value="[[nextLbl]]"></oj-bind-text></span>
                </oj-button>

                <oj-button data-bind="visible: addBtnVisible" class="apBtn-2" on-oj-action='[[submitButton]]'>
                    <span><oj-bind-text value="[[submitLbl]]"></oj-bind-text></span>
                </oj-button>

                <div id="sampleDemo" class="demo-padding demo-container"></div>
                <div id="dialogWrapper">
                    <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
                        <div slot="header" class="oj-helper-clearfix">
                            <label data-bind="text:confirmMessage "/>
                        </div>
                        <div slot="body">
                            <label data-bind="text:oprationMessage "/>
                        </div>
                        <div slot="footer">
                            <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[commitRecord]]'>
                                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                            </oj-button>

                            <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[cancelButton]]'>
                                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                            </oj-button>
                        </div>
                    </oj-dialog>
                </div>
            </div>
        </div>
    </div>
    <div id="train-container">
        <div>
            <oj-train id="train"
                      selected-step="{{currentStepValue}}" steps="[[stepArray]]"
                      class="oj-train-stretch"
                      on-oj-before-select="[[stopSelectListener]]"/>
        </div>
        <br/>

        <h3 id="currentStepText" data-bind="text: currentStepValueText()"></h3>
        <div class="oj-form-layout">
            <oj-validation-group id="tracker" valid="{{groupValid}}">
                <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                    <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations">
                        <div class="oj-flex-item">
                            <label for="control1"
                                   data-bind="text:gradeLbl "/>
                        </div>
                        <div class="oj-flex-item"> 
                            <oj-select-one id="select" 
                                           placeholder="[[placeholder]]"
                                           disabled="{{isDisabled}}"
                                           value="{{validGradeModel.grade}}">
                                <!-- ko foreach: gradesArr -->
                                <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                                <!-- /ko -->
                            </oj-select-one>
                        </div>


                        <div class="oj-flex-item">
                            <label for="personNumber" data-bind="text: positionName " show-required/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-select-one id="v6" disabled='[[isDisabled]]' required="[[isRequired]]" value="{{validGradeModel.positionName}}" placeholder="[[placeholder]]"
                                           >
                                <!-- ko foreach: positionNameArr -->
                                <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                                <!-- /ko -->
                            </oj-select-one>
                        </div>
                        <div class="oj-flex-item">
                            <label for="control1" data-bind="text:startDateLbl"/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-input-text id="datePickerStartDate"  value="{{validGradeModel.startDate}}" required="[[isRequired]]">

                            </oj-input-text>

                        </div>
                        <div class="oj-flex-item">
                            <label for="control1" data-bind="text: endDateLbl"/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-input-text clear-icon="conditional" id="datePickerEndDate" value="{{validGradeModel.endDate}}">
                            </oj-input-text>
                        </div>

                    </div>


                </div>
            </oj-validation-group>
        </div>
    </div>

</div>